<div class="col-12">
        <q-expansion-item
          class="shadow-2 overflow-hidden'
          style="border-radius: 10px'
          expand-separator
          label="ประวัติและการตรวจร่างกาย'
          default-opened
        >
          <q-card>
            <q-card-section>
              <div class="row q-col-gutter-md items-start">
                <div class="col-12 col-md-6 col-lg-4">
                  <q-input outlined dense type='textarea' label="อาการนำมา" v-model="treatmentDetail.cc" />
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <q-input outlined dense type='textarea' label="การเจ็บป่วยในปัจจุบัน" v-model="treatmentDetail.pi" />
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="row q-col-gutter-md">
                    <div class="col-12">
                      <q-input outlined dense mask='##/##/####' label="วันที่แสดงโรคและอาการ" v-model="treatmentDetail.signSymptomDate">
                        <template v-slot:prepend>
                          <q-icon name='today" />
                        </template>
                      </q-input>
                    </div>
                    <div class="col-12">
                      <q-input outlined dense mask='##/##/####' label="วันที่ปรึกษา" v-model="treatmentDetail.consultDate">
                        <template v-slot:prepend>
                          <q-icon name='event"/>
                        </template>
                      </q-input>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <q-input outlined dense type='textarea' label="การตรวจร่างกาย" v-model="treatmentDetail.pe" />
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <q-input outlined dense type='textarea' label="การวินิจฉัยโรคขั้นต้น" v-model="treatmentDetail.provisionalDx" />
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <q-input outlined dense type='textarea' label="โรคประจำตัว" v-model="treatmentDetail.ud" />
                </div>
              </div>
            </q-card-section>
          </q-card>
        </q-expansion-item>
      </div>
      <div class="col-6">
        <div class="row q-col-gutter-md">
          <div class="col-12">
            <q-expansion-item
              expand-separator
              label="การรักษา'
              default-opened
              class="shadow-2 overflow-hidden' style="border-radius: 10px'
            >
            <q-card>
              <q-card-section>
                <q-option-group
                  :options='[
                    { label: 'การรักษาต่อเนื่องจากครั้งก่อน', value: 'continous' },
                    { label: 'เคยได้รับการรักษาด้วยโรคหรืออาการนี้มาก่อน', value: 'ever', color: 'green' },
                  ]'
                  type='checkbox'
                  v-model="treatmentHistory.evOrCont'
                />
                <div class="row q-col-gutter-md items-start' v-if='treatmentHistory.evOrCont.indexOf('ever') > -1 ">
                  <div class="col-12' >
                    <q-input
                      outlined
                      label="โรงพยาบาล'
                      v-model="treatmentFrom.hospital'
                      dense
                    />
                  </div>
                  <div class="col-12">
                    <q-input
                      outlined
                      label="วว/ดด/ค.ศ.'
                      v-model="treatmentFrom.date'
                      mask='##/##/####'
                      dense
                    >
                      <template v-slot:prepend>
                        <q-icon name='event" />
                      </template>
                    </q-input>
                  </div>
                  <div class="col-12">
                    <q-list bordered separator class="rounded-borders' v-if='treatmentHistoryFrom.length > 0">
                      <q-item v-for='(item, index) in treatmentHistoryFrom' :key='index' >
                        <q-item-section>
                          <q-item-label>{{ item.hospital }}</q-item-label>
                          <q-item-label>{{ item.date }}</q-item-label>
                        </q-item-section>
                        <q-item-section side>
                          <div class="text-grey-8 q-gutter-xs">
                            <q-btn dense round icon="delete' @click='onRemoveTreatmentFrom(index)"/>
                          </div>
                        </q-item-section>
                      </q-item>
                    </q-list>
                    <q-list bordered separator class="rounded-borders' v-else>
                      <q-item>
                        <q-item-section>
                          <q-item-label class="text-center">ยังไม่มีข้อมูล</q-item-label>
                        </q-item-section>
                      </q-item>
                    </q-list>
                  </div>
                  <div class="col-12">
                    <q-btn v-if='treatmentFrom.hospital !== '' && treatmentFrom.date !== ''' dense icon="add' @click='onAddTreatmentFrom' label="เพิ่มโรงพยาบาล' color='primary" />
                    <q-btn v-else dense icon="add' disable label="เพิ่มโรงพยาบาล' color='primary" />
                  </div>
                </div>
              </q-card-section>
            </q-card>
            </q-expansion-item>
          </div>
          <div class="col-12">
            <q-expansion-item
              expand-separator
              label="สิ่งแวดล้อมอื่นๆ ที่เกี่ยวข้องกับการเจ็บป่วยนี้'
              default-opened
              class="shadow-2 overflow-hidden' style="border-radius: 10px'
            >
              <q-card-section class="q-gutter-sm">
                <q-checkbox dense v-model="otherFactor.no' label="ไม่เกี่ยวของกับปัจจัยแวดล้อมอื่นๆ' color='teal' @click='onClickNo"/>
                <q-checkbox dense v-model="otherFactor.factors' val='การรักษาภาวะมีบุตรยาก' :disable='otherFactor.no === true' label="การรักษาภาวะมีบุตรยาก' color='orange" />
                <q-checkbox dense v-model="otherFactor.factors' val='ตั้งครรภ์' :disable='otherFactor.no === true' label="ตั้งครรภ์' color='red" />
                <q-checkbox dense v-model="otherFactor.factors' val='จิตเวช' :disable='otherFactor.no === true' label="จิตเวช' color='cyan" />
                <q-checkbox dense v-model="otherFactor.factors' val='แอลกอฮอล์' :disable='otherFactor.no === true' label="แอลกอฮอล์' color='primary" />
                <q-checkbox dense v-model="otherFactor.factors' val='ความผิดปกติแต่กำเนิด' :disable='otherFactor.no === true' label="ความผิดปกติแต่กำเนิด' color='positive" />
                <q-checkbox dense v-model="otherFactor.factors' val='ศัลยกรรมพลาสติก' :disable='otherFactor.no === true' label="ศัลยกรรมพลาสติก' color='red" />
                <q-checkbox dense v-model="otherFactor.factors' val='ทันตกรรม' :disable='otherFactor.no === true' label="ทันตกรรม' color='cyan" />
                <q-checkbox dense v-model="otherFactor.other' :disable='otherFactor.no === true' label="อื่นๆ' color='teal" />
                <div class="q-mt-sm">
                  <q-input :disable='otherFactor.no === true || otherFactor.other === false' outlined dense v-model="otherFactor.otherNote" />
                </div>
              </q-card-section>
            </q-expansion-item>
          </div>
          <div class="col-12">
            <q-expansion-item
              expand-separator
              label="สัญญาณชีพ'
              class="shadow-2 overflow-hidden'
              style="border-radius: 10px'
            >
              <q-card>
                <q-card-section>
                  <div class="row q-col-gutter-md items-start">
                    <div class="col-6 col-md-4 col-lg-3">
                      <q-input outlined dense label="Temp (°C)" v-model="vitalSigns.temp" />
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                      <q-input outlined dense label="Pulse (beats/min)" v-model="vitalSigns.pulse" />
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                      <q-input outlined dense label="Systolic BP" v-model="vitalSigns.systolic" />
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                      <q-input outlined dense label="Diastolic BP" v-model="vitalSigns.diastolic" />
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                      <q-input outlined dense label="Respiratory Rate" v-model="vitalSigns.rr" />
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                      <q-input outlined dense label="Pain Score" v-model="vitalSigns.painScore" />
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                      <q-input outlined dense label="Coma Score" v-model="vitalSigns.comaScore" />
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                      <q-input outlined dense label="Weight (kg)" v-model="vitalSigns.weight" />
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                      <q-input outlined dense label="Height (cm)" v-model="vitalSigns.height" />
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                      <q-input outlined dense label="BMI" v-model="vitalSigns.bmi" />
                    </div>
                  </div>
                </q-card-section>
              </q-card>
            </q-expansion-item>
          </div>
          <div class="col-12">
            <q-expansion-item
              expand-separator
              label="หัตถการ และการผ่าตัด'
              class="shadow-2 overflow-hidden'
              style="border-radius: 10px'
              :default-opened='allProcedure.length !== 0'
            >
              <q-card>
                <q-card-section>
                  <div class="row q-col-gutter-md">
                    <div class="col-12">
                      <q-select outlined v-model="procedure.icd9'  label="Procedure (ICD9CM)' dense />
                    </div>
                    <div class="col-12">
                      <q-input outlined v-model="procedure.date'  label="วว/ดด/ค.ศ.' dense />
                    </div>
                    <div class="col-12">
                      <q-list bordered separator class="rounded-borders' v-if='allProcedure.length > 0">
                        <q-item v-for='(item, index) in allProcedure' :key='index' >
                          <q-item-section>
                            <q-item-label overline>{{ item.icd9 }}</q-item-label>
                            <q-item-label>{{ item.date }}</q-item-label>

                          </q-item-section>
                          <q-item-section side>
                            <div class="text-grey-8 q-gutter-xs">
                              <q-btn class="gt-xs' dense round icon="delete' @click='onRemoveTreatmentBy(index)"/>
                            </div>
                          </q-item-section>
                        </q-item>
                      </q-list>
                      <q-list bordered separator class="rounded-borders' v-else>
                        <q-item>
                          <q-item-section>
                            <q-item-label class="text-center">ยังไม่มีข้อมูล</q-item-label>
                          </q-item-section>
                        </q-item>
                      </q-list>
                    </div>
                    <div class="col-12">
                      <q-btn v-if='treatmentBy.physicianLicenseNo !== '' && treatmentBy.physicianName !== ''' dense icon="add' @click='onAddTreatmentBy' label="เพิ่มหัตถการ' color='primary" />
                      <q-btn v-else dense icon="add' disable label="เพิ่มหัตถการ' color='primary" />
                    </div>
                  </div>
                </q-card-section>
              </q-card>
            </q-expansion-item>
          </div>
          <div class="col-12">
            <q-expansion-item
              expand-separator
              label="ระยะเวลาประมาณในการแอดมิด'
              class="shadow-2 overflow-hidden'
              style="border-radius: 10px'
              v-if='type === 'adm' || type === 'dc''
            >
              <q-card>
                <q-card-section>
                  <div class="row q-col-gutter-md items-start' v-if='type === 'adm' || type === 'dc'">
                    <div class="col-12 col-md-6">
                      <q-input outlined label="วันที่เริ่มนอนโรงพยาบาล วว/ดด/ค.ศ.' dense>
                        <template v-slot:prepend>
                          <q-icon name='today" />
                        </template>
                      </q-input>
                    </div>
                    <div class="col-12 col-md-6' v-if='type === 'dc'">
                      <q-input outlined label="วันที่ออกโรงพยาบาล วว/ดด/ค.ศ.' dense>
                        <template v-slot:prepend>
                          <q-icon name='today" />
                        </template>
                      </q-input>
                    </div>
                    <div class="col-12 col-md-6">
                      <q-input readonly outlined label="จำนวนวันที่นอนโรงพยาบาล' dense />
                    </div>
                    <div class="col-12 col-md-6">
                      <q-input readonly outlined label="วันที่นัดติดตามอาการ วว/ดด/ค.ศ.' dense />
                    </div>
                  </div>

                  <q-card-section v-if='type === 'dc'">
                    <div class="text-subtitle2">Hospital Admission & Discharge Date</div>
                  </q-card-section>

                  <div class="row q-col-gutter-md items-start' v-if='type === 'dc'">
                    <div class="col-12 col-md-6">
                      <q-input outlined label="วันที่เริ่มอยู่หอผู้ป่วยวิกฤต วว/ดด/ค.ศ.' dense>
                        <template v-slot:prepend>
                          <q-icon name='today" />
                        </template>
                      </q-input>
                    </div>
                    <div class="col-12 col-md-6">
                      <q-input outlined label="วันที่ออกจากหอผู้ป่วยวิกฤต วว/ดด/ค.ศ.' dense>
                        <template v-slot:prepend>
                          <q-icon name='today" />
                        </template>
                      </q-input>
                    </div>
                    <div class="col-12 col-md-6">
                      <q-input outlined label="เหตุผลที่ต้องนอนหอผู้ป่วยวิกฤต' dense />
                    </div>
                    <div class="col-12 col-md-6">
                      <q-input readonly outlined label="จำนวนวันที่อยู่หอผู้ป่วยวิกฤต' dense />
                    </div>
                  </div>
                </q-card-section>
              </q-card>
            </q-expansion-item>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row q-col-gutter-md">
          <div class="col-12">
            <q-expansion-item
              expand-separator
              label="แพทย์ผู้ดูแล'
              class="shadow-2 overflow-hidden col-6'
              style="border-radius: 10px'
              default-opened
            >
              <q-card >
                <q-card-section>
                  <div class="row q-col-gutter-md items-start">
                    <div class="col-12">
                      <q-input
                        outlined
                        label="เลขที่ใบอนุญาตแพทย์'
                        v-model="treatmentBy.physicianLicenseNo'
                        dense
                        maxlength='10'
                      />
                    </div>
                    <div class="col-12">
                      <q-input
                        outlined
                        label="ชื่อ - สกุล'
                        v-model="treatmentBy.physicianName'
                        dense
                      />
                    </div>
                    <div class="col-12">
                      <q-select outlined v-model="treatmentBy.role' :options='roles' label="ประเภท' dense />
                    </div>
                    <div class="col-12">
                      <q-list bordered separator class="rounded-borders' v-if='treatmentProviders.length > 0">
                        <q-item v-for='(item, index) in treatmentProviders' :key='index' >
                          <q-item-section>
                            <q-item-label overline>{{ item.role }}</q-item-label>
                            <q-item-label>{{ item.physicianName }}</q-item-label>
                            <q-item-label caption>{{ item.physicianLicenseNo }}</q-item-label>
                          </q-item-section>
                          <q-item-section side>
                            <div class="text-grey-8 q-gutter-xs">
                              <q-btn class="gt-xs' dense round icon="delete' @click='onRemoveTreatmentBy(index)"/>
                            </div>
                          </q-item-section>
                        </q-item>
                      </q-list>
                      <q-list bordered separator class="rounded-borders' v-else>
                        <q-item>
                          <q-item-section>
                            <q-item-label class="text-center">ยังไม่มีข้อมูล</q-item-label>
                          </q-item-section>
                        </q-item>
                      </q-list>
                    </div>
                    <div class="col-12">
                      <q-btn v-if='treatmentBy.physicianLicenseNo !== '' && treatmentBy.physicianName !== ''' dense icon="add' @click='onAddTreatmentBy' label="เพิ่มแพทย์' color='primary" />
                      <q-btn v-else dense icon="add' disable label="เพิ่มแพทย์' color='primary" />
                    </div>
                  </div>
                </q-card-section>
              </q-card>
            </q-expansion-item>
          </div>
          <div class="col-12">
            <q-expansion-item
              expand-separator
              label="Indication'
              class="shadow-2 overflow-hidden col-6'
              style="border-radius: 10px'
              default-opened
            >
              <q-card >
                <q-card-section>
                  <div class="row q-col-gutter-md items-start">
                    <div class="col-12' >
                      <q-select clearable outlined v-model="indication' :options='indications' label="Indication for Admission' dense />
                    </div>
                    <div class="col-12">
                      <q-input outlined :disable='indication !== 'Other, Please Specify'' dense type='textarea' label="For other indications or more information" v-model="indicationNote" />
                    </div>
                  </div>
                </q-card-section>
              </q-card>
            </q-expansion-item>
          </div>
          <div class="col-12">
            <q-expansion-item
              expand-separator
              label="คำวินิจฉัย'
              class="shadow-2 overflow-hidden'
              style="border-radius: 10px'
            >
              <q-card>
                <q-card-section>
                  <div class="row q-col-gutter-md items-start">
                    <div class="col-12">
                      <div class="row q-col-gutter-md items-start">
                        <div class="col-12' v-if='(dxTXN === false || allDiagnosis.length === 0)">
                          <q-select
                            clearable
                            outlined
                            v-model="diagnosis.icd10'
                            label="Diagnosis (ICD10)'
                            use-input
                            hide-selected
                            fill-input
                            dense
                            transition-show='jump-up'
                            transition-hide='jump-up'
                            :options='optionsDx'
                            @filter='filterFn'
                            input-debounce='0'
                          >
                            <template v-slot:no-option>
                              <q-item>
                                <q-item-section class="text-grey">
                                  No results
                                </q-item-section>
                              </q-item>
                            </template>
                          </q-select>
                        </div>
                        <div class="col-12' v-if='(dxTXN === false || allDiagnosis.length === 0)">
                          <q-select outlined v-model="diagnosis.type' :options='diagnosisTypes' label="Diagnosis Type' dense />
                        </div>
                        <div class="col-12">
                          <q-list bordered separator class="rounded-borders' v-if='allDiagnosis.length > 0">
                            <q-item v-for='(item, index) in allDiagnosis' :key='index' >
                              <q-item-section>
                                <q-item-label caption>{{ item.type }}</q-item-label>
                                <q-item-label>{{ item.icd10 }}</q-item-label>
                              </q-item-section>
                              <q-item-section side>
                                <div class="text-grey-8 q-gutter-xs">
                                  <q-btn class="gt-xs' dense round icon="delete' @click='onRemoveDiagnosis(index)"/>
                                </div>
                              </q-item-section>
                            </q-item>
                          </q-list>
                          <q-list bordered separator class="rounded-borders' v-else>
                            <q-item>
                              <q-item-section>
                                <q-item-label class="text-center">ยังไม่มีข้อมูล</q-item-label>
                              </q-item-section>
                            </q-item>
                          </q-list>
                        </div>
                        <div class="col-12' v-if='(dxTXN === false || allDiagnosis.length === 0)">
                          <q-btn v-if='diagnosis.icd10 !== '' && diagnosis.type !== ''' dense icon="add' @click='onAddDiagnosis' label="เพิ่มคำวินิจฉัย' color='primary" />
                          <q-btn v-else dense icon="add' disable label="เพิ่มคำวินิจฉัย' color='primary" />
                        </div>
                      </div>
                    </div>
                </div>
                </q-card-section>
              </q-card>
            </q-expansion-item>
          </div>
          <div class="col-12">
            <q-expansion-item
              expand-separator
              label="การใช้ยาสลบ'
              class="shadow-2 overflow-hidden'
              style="border-radius: 10px'
            >
              <q-card>
                <q-card-section>
                  <div class="col-12 col-md-6">
                      <q-select clearable outlined v-model="anesthesia' :options='anesthesias' label="Anesthesia Type' dense />
                    </div>
                </q-card-section>
              </q-card>
            </q-expansion-item>
          </div>
          <div class="col-12">
            <q-expansion-item
              expand-separator
              label="Daily Concurrent Review Note'
              class="shadow-2 overflow-hidden'
              style="border-radius: 10px'
              v-if='type === 'adm' || type === 'dc''
            >
              <q-card>
                <q-card-section>
                  <div class="row q-col-gutter-md items-start' v-if='type === 'adm' || type === 'dc'">
                    <div class="col-12">
                      <q-table
                        :rows='rows'
                        :columns='columns'
                        row-key='name'
                        separator='cell'
                        dense
                      >
                        <template v-slot:body-cell-remove='props">
                          <q-td :props='props">
                            <q-btn dense color='red' icon="delete">
                              <q-tooltip>
                                ลบเอกสาร
                              </q-tooltip>
                            </q-btn>
                          </q-td>
                        </template>
                      </q-table>
                    </div>
                    <div class="col-12">
                      <q-btn  dense icon="add' label="เพิ่มรายการใหม่' color='primary" />
                    </div>
                  </div>
                </q-card-section>
              </q-card>
            </q-expansion-item>
          </div>
        </div>
      </div>
