<template>
  <q-layout class="my-font">
    <q-page-container>
      <q-page class="flex full-height items-center">
        <div class="row q-mx-md full-width justify-center">
          <div class="col-12 q-pt-md text-center">
            <h5>เข้าสู่ระบบ</h5>
          </div>
          <div class="col-12 col-md-6 col-lg-4 q-pt-md text-center">
            <q-form @submit="onSubmit" class="q-gutter-sm q-mx-md">
              <q-input
                outlined
                v-model="login.username"
                label="ชื่อผู้ใช้"
                lazy-rules
                :rules="[
                  (val) =>
                    (val && val.length > 0) || 'กรุณากรอกชื่อผู้ใช้ให้ถูกต้อง',
                ]"
              />
              <q-input
                outlined
                type="password"
                v-model="login.password"
                label="รหัสผ่าน"
                lazy-rules
                :rules="[
                  (val) =>
                    (val !== null && val !== '') ||
                    'กรุณากรอกรหัสผ่านให้ถูกต้อง',
                ]"
              />
              <div class="col-xs-12 col-sm-6 col-md-4 q-my-lg">
                <q-btn
                  rounded
                  icon="login"
                  class="full-width"
                  label="เข้าสู่ระบบ"
                  type="submit"
                  color="primary"
                />
              </div>
            </q-form>
          </div>
        </div>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
import { useQuasar } from 'quasar'
import { mapActions, mapGetters } from 'vuex'

let $q

export default {
  name: 'Login',
  data () {
    return {
      login: {}
    }
  },
  methods: {
    ...mapActions('auth', ['doLogin']),
    async onSubmit () {
      if (!this.login.username || !this.login.password) {
        $q.notify({
          type: 'warning',
          message: 'กรุณากรอกชื่อผู้ใช้ หรือรหัสผ่านให้ครบถ้วน'
        })
      } else {
        try {
          await this.doLogin(this.login).then(() => {
            $q.notify({
              type: 'positive',
              message: `สวัสดี ${this.getMe.name}`
            })
          }).catch(() => {
            $q.notify({
              type: 'negative',
              message: 'กรุณากรอกชื่อผู้ใช้ หรือรหัสผ่านให้ถูกต้อง'
            })
          })
          const toPath = this.$route.query.to || '/admin'
          this.$router.push(toPath)
        } catch (err) {
          if (err.response.data.detail) {
            $q.notify({
              type: 'negative',
              message: err.response.data.detail
            })
          }
        }
      }
    }
  },
  mounted () {
    $q = useQuasar()
  },
  computed: {
    ...mapGetters('auth', ['getMe'])
  }
}
</script>

<style scoped>
.wave {
  position: fixed;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
}
</style>
