<template>
  <q-page class="my-font" >
    <!-- <q-header elevated>
      <q-toolbar>
        <q-toolbar-title>
          <q-icon name="search" />
          ตรวจสอบสิทธิ์
        </q-toolbar-title>
      </q-toolbar>
    </q-header> -->
    <div class="row q-col-gutter-md" >
      <q-card square flat class="col-12">
        <q-card-section>
          <div class="row q-col-gutter-md" >
            <div class="col-12 q-gutter-md" v-if="idType === 'NATIONAL_ID' || idType === 'PASSPORT'">
              <q-btn-toggle
                v-model="policyType"
                toggle-color="primary"
                :options="[
                  { label: 'ประเภทเดี่ยว', value: 'IB' },
                  { label: 'ประเภทกลุ่ม', value: 'CS' },
                ]"
              />
              <q-btn-toggle
                v-model="surgeryType"
                toggle-color="primary"
                no-caps
                :options="[
                  { label: 'ไม่มีการผ่าตัด', value: 'N' },
                  { label: 'มีผ่าตัด', value: 'Y' }
                ]"
              />
              <q-btn-toggle
                v-model="serviceSetting"
                toggle-color="primary"
                no-caps
                :options="[
                  { label: 'ผู้ป่วยนอก', value: 'OPD' },
                  { label: 'ผู้ป่วยใน', value: 'IPD' },
                  { label: 'พิจารณาเคลมก่อนทำการผ่าตัด', value: 'PRE' }
                ]"
              />
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <q-select
                outlined
                v-model="illnessType"
                emit-value
                map-options
                :options="[{ label: 'เจ็บป่วย', value: 'ILL', location: '' },
                  { label: 'อุบัติเหตุ (เกิน 24 ชม.)', value: 'ACC' },
                  { label: 'อุบัติเหตุ (ฉุกเฉินภายใน 24 ชม.)', value: 'ER' },
                  { label: 'ทันตกรรม', value: 'DEN' },
                  { label: 'DAY CASE', value: 'DAY' },
                  { label: 'ล้างไต', value: 'HD' },
                  { label: 'เคมี / รังสีบำบัด', value: 'CMT' },
                  { label: 'ตรวจสุขภาพ', value: 'CHK' },
                  { label: 'วัคซีน', value: 'VAC' },
                  { label: 'เจ็บป่วย (นัดติดตามอาการหลังจากนอนโรงพยาบาล)', value: 'FU' }
                ]"
                label="ประเภท"
                dense
                clearable
              >
                <template v-slot:prepend>
                  <q-icon name="place" @click.stop.prevent />
                </template>
              </q-select>
            </div>
            <div class="col-12 col-md-6 col-lg-3" v-if="accidentDateIsActive.includes(illnessType)">
              <q-input
                outlined
                label="วันที่เกิดอุบัติเหตุ วว/ดด/ค.ศ."
                v-model="accidentDate"
                dense
                mask="##/##/#### ##:##"
              />
            </div>
            <div class="col-12">
              <q-btn-toggle
                v-model="idType"
                toggle-color="primary"
                no-caps
                :options="[
                  { label: 'เลขบัตรประชาชน', value: 'NATIONAL_ID' },
                  { label: 'เลขพาสปอร์ต', value: 'PASSPORT' },
                  { label: 'เลขกรมธรรม์', value: 'POLICY_NUMBER' },
                  { label: 'รหัสลูกค้า (Care Card)', value: 'CUSTOMER_ID' },
                  { label: 'เลขที่สมาชิก', value: 'MEMBERSHIP_ID' },
                ]"
              />
            </div>
            <div class="col-12 col-md-6">
              <q-input
                outlined
                dense
                v-model="id"
                maxlength="13"
                clearable
              >
                <template v-slot:after>
                  <q-btn
                    label="ตรวจสอบสิทธิ์"
                    class="full-height"
                    type="submit"
                    color="primary"
                    @click="checkEligible"
                  />
                </template>
              </q-input>
            </div>
          </div>
        </q-card-section>
      </q-card>
      <q-card square flat class="col-12" v-if="patientInfo">
        <div class="row q-col-gutter-md">
          <div class="col-12" >
            <q-card-section class="">
              <div class="text-subtitle2">ผลการตรวจสอบสิทธิ์</div>
            </q-card-section>
            <q-card-section>
              <div class="row q-col-gutter-md items-start">
                <div class="col-12 col-md-3 col-lg-2">
                  <q-input outlined dense label="เลขบัตรประชาชน" readonly v-model="patientInfo.idCard" />
                </div>
                <div class="col-12 col-md-3 col-lg-2">
                  <q-input outlined dense label="HN" readonly v-model="patientInfo.hn" />
                </div>
                <div class="col-12 col-md-3 col-lg-2">
                  <q-input outlined dense label="ชื่อผู้เอาประกัน" readonly v-model="patientInfo.firstName" />
                </div>
                <div class="col-12 col-md-3 col-lg-2">
                  <q-input outlined dense label="นามสกุลผู้เอาประกัน" readonly v-model="patientInfo.lastName" />
                </div>
                <div class="col-12 col-md-3 col-lg-2">
                  <q-input outlined dense label="วันเกิดผู้เอาประกัน" mask="##/##/####" v-model="patientInfo.dob" readonly />
                </div>
                <div class="col-12 col-md-3 col-lg-2">
                  <q-input outlined dense label="เพศ" v-model="patientInfo.sex" readonly />
                </div>
                <div class="col-12 col-md-3 col-lg-2">
                  <q-input outlined dense label="กรมธรรม์เลขที่" v-model="patientInfo.policyNo" readonly />
                </div>
                <div class="col-12">
                  <q-btn @click="openDialog = true" color="positive" v-if="patientInfo.coverageClaimStatus">สามารถใช้สิทธิ์เรียกร้องสินไหมได้</q-btn>
                  <q-btn color="negative" v-else>ไม่สามารถใช้สิทธิ์เรียกร้องสินไหมได้</q-btn>
                </div>
              </div>
            </q-card-section>
          </div>
        </div>
      </q-card>
      <q-inner-loading
        :showing="loading"
        label="รอสักครู่..."
        label-class="text-teal"
        label-style="font-size: 1.1em"
      />
    </div>
    <q-dialog v-model="openDialog">
      <ClaimDiaglog :illnessType="illnessType" :accidentDate="accidentDate" :patientInfo="patientInfo" :serviceSetting="serviceSetting" />
    </q-dialog>
  </q-page>
</template>

<script>
import { ref, watch } from 'vue'
import ClaimDiaglog from './ClaimDiaglog.vue'
import { api } from 'boot/axios'
import { useQuasar } from 'quasar'

export default {
  name: '<Authenticate>',
  setup () {
    const $q = useQuasar()
    const loading = ref(false)
    const surgeryType = ref('N')
    const illnessType = ref('ACC')
    const policyType = ref('IB')
    const accidentDate = ref(new Date().toLocaleDateString('en-GB'))
    const accidentDateIsActive = ref(['ACC', 'ER'])
    const serviceSetting = ref('OPD')
    const idType = ref('NATIONAL_ID')
    const id = ref('3100000511661')
    const accidentCauseOver45Days = ref()
    const patientInfo = ref(null)
    watch(illnessType, (newIllnessType, oldIllnessType) => {
      patientInfo.value = null
    })
    watch(id, (newId, oldId) => {
      patientInfo.value = null
    })
    watch(serviceSetting, (newServiceSetting, oldServiceSetting) => {
      patientInfo.value = null
    })
    function useDate (date) {
      if (date !== '' && date.length >= 10) {
        const dateArr = date.replace('T00:00:00', '').split('-')
        const [yyyy, mm, dd] = dateArr
        return `${dd}${mm}${yyyy}`
      } else {
        return date
      }
    }
    function apiDate (date) {
      if (date !== '' && date.length >= 10) {
        const dateArr = date.substring(0, 10).split('/')
        const [dd, mm, yyyy] = dateArr
        return `${yyyy}-${mm}-${dd}`
      } else {
        return date
      }
    }
    function checkEligible () {
      loading.value = !loading.value
      switch (idType.value) {
        case 'POLICY_NUMBER':
          policyType.value = 'IB'
          break
        case 'MEMBERSHIP_ID':
          policyType.value = 'CS'
          break
      }
      const payload = {
        IdType: idType.value,
        Id: id.value,
        PolicyType: policyType.value,
        ServiceSetting: serviceSetting.value,
        IllnessType: illnessType.value,
        SurgeryType: surgeryType.value,
        Patient: {},
        Visit: {
          AccidentDate: apiDate(accidentDate.value)
        }
      }

      api.post('http://192.168.100.152:94/api/AIA/CheckEligible', payload).then(response => {
        alert.value = !alert.value
        const resp = response.data
        patientInfo.value = {
          message: resp.patientInfo.message,
          messageTh: resp.patientInfo.messageTh,
          refId: resp.patientInfo.refId,
          transactionNo: resp.patientInfo.transactionNo,
          policyNo: resp.patientInfo.policyNo,
          memberShipId: resp.patientInfo.memberShipId,
          insurerCode: resp.patientInfo.insurerCode,
          coverageClaimStatus: resp.patientInfo.coverageClaimStatus,
          hn: resp.patientInfo.hn,
          idCard: resp.patientInfo.idCard,
          firstName: resp.patientInfo.firstName,
          lastName: resp.patientInfo.lastName,
          dob: resp.patientInfo.dob,
          sex: resp.patientInfo.sex
        }
        $q.notify({
          type: 'positive',
          message: resp.result.messageTh
        })
        loading.value = !loading.value
      }).catch((err) => {
        $q.notify({
          type: 'negative',
          message: err.message
        })
        loading.value = !loading.value
      })
    }
    return {
      openDialog: ref(false),
      loading,
      patientInfo,
      illnessType,
      serviceSetting,
      accidentDate,
      accidentDateIsActive,
      surgeryType,
      policyType,
      id,
      idType,
      accidentCauseOver45Days,
      useDate,
      apiDate,
      checkEligible
    }
  },
  components: {
    ClaimDiaglog
  }
}
</script>

<style>

</style>
