<template>
  <q-card class="my-font" style="width: 700px; max-width: 80vw;">
    <q-card-section>
      <div class="text-h6">ตรวจสอบสิทธิ์</div>
      <div class="text-subtitle2">Authenticate</div>
    </q-card-section>
    <q-card-section>
      <div class="row q-col-gutter-md" >
        <div class="col-4" v-if="idType === 'NATIONAL_ID' || idType === 'PASSPORT'">
          <q-btn-toggle
            v-model="policyType"
            toggle-color="primary"
            :options="[
              { label: 'ประเภทเดี่ยว', value: 'IB' },
              { label: 'ประเภทกลุ่ม', value: 'CS' },
            ]"
          />
        </div>
        <div class="col">
          <q-btn-toggle
            v-model="surgeryType"
            toggle-color="primary"
            no-caps=""
            :options="[
              { label: 'ไม่มีการผ่าตัด', value: 'N' },
              { label: 'มีผ่าตัด', value: 'Y' }
            ]"
          />
        </div>
        <div class="col-12">
          <q-btn-toggle
            v-model="serviceSetting"
            toggle-color="primary"
            no-caps=""
            :options="[
              { label: 'ผู้ป่วยนอก', value: 'OPD' },
              { label: 'ผู้ป่วยใน', value: 'IPD' },
              { label: 'ส่งพิจารณาเคลมก่อนทำการผ่าตัด', value: 'PRE' }
            ]"
          />
        </div>
        <div class="col-12">
          <q-select
            outlined
            v-model="illnessType"
            emit-value
            map-options
            :options="[{ label: 'เจ็บป่วย', value: 'ILL', location: '' },
              { label: 'อุบัติเหตุ (เกิน 24 ชม.)', value: 'ACC' },
              { label: 'อุบัติเหตุ (ฉุกเฉินภายใน 24 ชม.)', value: 'ER' },
              { label: 'ทันตกรรม', value: 'DEN' },
              { label: 'DAY CASE', value: 'DAY' },
              { label: 'ล้างไต', value: 'HD' },
              { label: 'เคมี / รังสีบำบัด', value: 'CMT' },
              { label: 'ตรวจสุขภาพ', value: 'CHK' },
              { label: 'วัคซีน', value: 'VAC' },
              { label: 'เจ็บป่วย (นัดติดตามอาการหลังจากนอนโรงพยาบาล)', value: 'FU' }
            ]"
            label="ประเภท"
            dense
            clearable
          >
            <template v-slot:prepend>
              <q-icon name="place" @click.stop.prevent />
            </template>
          </q-select>
        </div>
        <div class="col-12" v-if="accidentDateIsActive.includes(illnessType)">
          <q-input
            outlined
            label="วันที่เกิดอุบัติเหตุ วว/ดด/ค.ศ."
            v-model="accidentDate"
            dense
            mask="##/##/#### ##:##"
          >
            <template v-slot:prepend>
              <q-icon name="event" />
            </template>
          </q-input>
        </div>
        <div class="col-12">
          <q-btn-toggle
            class="q-mb-md"
            v-model="idType"
            toggle-color="primary"
            no-caps
            :options="[
              { label: 'เลขบัตร ปชช', value: 'NATIONAL_ID' },
              { label: 'เลขพาสปอร์ต', value: 'PASSPORT' },
              { label: 'เลขกรมธรรม์', value: 'POLICY_NUMBER' },
              { label: 'รหัสลูกค้า (Care Card)', value: 'CUSTOMER_ID' },
              { label: 'เลขที่สมาชิก', value: 'MEMBERSHIP_ID' },
            ]"
          />
          <q-input
            v-if="idType === 'NATIONAL_ID'"
            bottom-slots
            label="เลขบัตร ปชช"
            dense
            v-model="id.national"
            maxlength="13"
            clearable
          />
          <q-input
            v-if="idType === 'PASSPORT'"
            bottom-slots
            label="เลขพาสปอร์ต"
            dense
            v-model="id.passport"
            maxlength="7"
            clearable
          />
          <q-input
            v-if="idType === 'POLICY_NUMBER'"
            bottom-slots
            label="เลขกรมธรรม์"
            dense
            v-model="id.policyNumber"
            maxlength="10"
            clearable
          />
          <q-input
            v-if="idType === 'CUSTOMER_ID'"
            bottom-slots
            label="รหัสลูกค้า (Care Card)"
            dense
            v-model="id.customer"
            maxlength="7"
            clearable
          />
          <q-input
            v-if="idType === 'MEMBERSHIP_ID'"
            bottom-slots
            label="เลขที่สมาชิก"
            dense
            v-model="id.membership"
            maxlength="10"
            clearable
          />
          <div class="q-gutter-sm">
            <q-btn
              label="ตรวจสอบสิทธิ์"
              bottom-slots
              type="submit"
              color="primary"
              @click="checkEligible"
            />
            <q-btn
              bottom-slots
              flat
              label="ปิด"
              v-close-popup
            />
          </div>
        </div>
      </div>

      <q-dialog v-model="alert" class="my-font" >
        <q-card class="bg-dark"  v-if="msgStatus !== 'success'" style="width: 500px">
          <q-card-section>
            <div class="text-h4 text-white"><q-icon name="close" color="negative" /> ผิดพลาด</div>
          </q-card-section>
          <q-card-section class="q-pt-none text-white">
           {{ msgResponse }}
          </q-card-section>
          <q-card-section class="q-pt-none text-white">
           {{ msgStatus }}
          </q-card-section>
          <q-card-actions align="right">
            <q-btn label="OK" color="primary" v-close-popup />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </q-card-section>
    <q-inner-loading
      :showing="visible"
      label="รอสักครู่..."
      label-class="text-teal"
      label-style="font-size: 1.1em"
    />
  </q-card>
</template>

<script>
import { ref } from 'vue'
import { api } from 'boot/axios'

export default {
  name: '<AuthenticateDialog>',
  setup () {
    const result = ref(null)
    const surgeryType = ref('N')
    const alert = ref(false)
    const visible = ref(false)
    const illnessType = ref('')
    const visitDate = ref(new Date().toLocaleDateString('en-GB'))
    const policyType = ref('IB')
    const accidentDate = ref(new Date().toLocaleDateString('en-GB'))
    const accidentDateIsActive = ref(['ACC', 'ER'])
    const serviceSetting = ref('OPD')
    const idType = ref('NATIONAL_ID')
    const id = ref({
      national: '0480000004240',
      passport: '',
      policyNumber: '',
      customer: '',
      membership: ''
    })
    const msgResponse = ref(null)
    const msgStatus = ref('')

    function dateApi (date) {
      if (date !== '' && date.length >= 10) {
        const dateArr = date.substring(0, 10).split('/')
        const [yyyy, mm, dd] = dateArr
        return `${yyyy}-${mm}-${dd}`
      }
    }

    function checkEligible () {
      visible.value = !visible.value
      let paramId = ''
      switch (idType.value) {
        case 'NATIONAL_ID':
          paramId = id.value.national
          break
        case 'PASSPORT':
          paramId = id.value.passport
          break
        case 'POLICY_NUMBER':
          paramId = id.value.policyNumber
          policyType.value = 'IB'
          break
        case 'CUSTOMER_ID':
          paramId = id.value.customer
          break
        case 'MEMBERSHIP_ID':
          paramId = id.value.membership
          policyType.value = 'CS'
          break
      }
      const payload = {
        IdType: idType.value,
        Id: paramId,
        PolicyType: policyType.value,
        ServiceSetting: serviceSetting.value,
        IllnessType: illnessType.value,
        SurgeryType: surgeryType.value,
        Patient: {},
        Visit: {
          AccidentDate: dateApi(accidentDate.value)
        }
      }
      api.post('http://192.168.100.152:94/api/AIA/CheckEligible', payload).then(response => {
        alert.value = !alert.value
        // id.value.national = response.data.idCard
        // id.value.policyNumber = response.data.policyNo
        // id.value.membership = response.data.memberShipId
        // msgStatus.value = response.data.message
        // msgResponse.value = response.data.messageTh.replace(/<br ?\/?>/g, '\n')
        // // msgResponse.value = response.data.messageTh.replace(/<br ?\/?>/g, '\n')
        // if (response.data.message === 'success') {
        //   localStorage.setItem('refID', response.data.refID)
        //   localStorage.setItem('transactionNumber', response.data.transactionNumber)
        //   if (router.currentRoute.value.fullPath.search('/authenticate') !== -1) {
        //     router.go(router.currentRoute)
        //   } else {
        //     router.push(`/authenticate/0480000004240/${serviceSetting.value}/${illnessType.value}/${id.value.policyNumber}/1/${dateApi(accidentDate.value)}`)
        //   }
        // }
        visible.value = !visible.value
      }).catch((err) => {
        alert.value = !alert.value
        msgResponse.value = err
        visible.value = !visible.value
      })
    }
    return {
      accidentDateIsActive,
      accidentDate,
      surgeryType,
      policyType,
      result,
      dateApi,
      alert,
      visible,
      msgResponse,
      msgStatus,
      illnessType,
      visitDate,
      id,
      idType,
      serviceSetting,
      checkEligible
    }
  }
}
</script>
