<template>
  <q-page class="my-font">
    <!-- <q-header elevated>
      <q-toolbar>
        <q-toolbar-title>
          <q-icon name="check_circle_outline"/>
          สถานะการพิจารณาสินไหม
        </q-toolbar-title>
      </q-toolbar>
    </q-header> -->
    <q-card flat square>
      <q-card-section>
        <q-tabs
          v-model="tab"
          dense
          outside-arrows
          mobile-arrows
          inline-label
          align="left"
        >
          <q-tab v-for="tab in tabs" :key="tab.name" :name="tab.name" no-caps :label="tab.label"/>
        </q-tabs>
      </q-card-section>
      <AdditionalSearch @searchParam="getAdmissionListWithParam"/>
      <q-card-section>
        <div class="row q-col-gutter-x-md">
          <div class="col-12" v-if="tab === 'opd'">
            <q-table
              :rows="opdRows"
              :columns="opdColumns"
              row-key="name"
              separator="cell"
            >
              <template v-slot:body-cell-document="props">
                <q-td :props="props">
                  <q-btn-group>
                    <q-btn dense color="primary" icon="description">
                      <q-tooltip>
                        ดูเอกสาร
                      </q-tooltip>
                    </q-btn>
                    <q-btn dense color="info" icon="note_add">
                      <q-tooltip>
                        ส่งเอกสาร
                      </q-tooltip>
                    </q-btn>
                    <q-btn dense color="red" icon="delete">
                      <q-tooltip>
                        ลบเอกสาร
                      </q-tooltip>
                    </q-btn>
                  </q-btn-group>
                </q-td>
              </template>
            </q-table>
          </div>
          <div class="col-12" v-if="tab === 'ipd'">
            <q-table
              :rows="opdRows"
              :columns="ipdColumns"
              row-key="name"
              separator="cell"
            >
              <template v-slot:body-cell-document="props">
                <q-td :props="props">
                  <q-btn-group>
                    <q-btn dense color="primary" icon="description">
                      <q-tooltip>
                        ดูเอกสาร
                      </q-tooltip>
                    </q-btn>
                    <q-btn dense color="info" icon="note_add">
                      <q-tooltip>
                        ส่งเอกสาร
                      </q-tooltip>
                    </q-btn>
                  </q-btn-group>
                </q-td>
              </template>
            </q-table>
          </div>
        </div>
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script>
import { ref } from 'vue'
import AdditionalSearch from 'components/AdditionalSearch.vue'

const opdColumns = [
  {
    name: 'name',
    required: true,
    label: 'ชื่อ - สกุล',
    align: 'left',
    field: row => row.name,
    format: val => `${val}`,
    sortable: true
  },
  { name: 'policyNo', label: 'กรมธรรม์', field: 'calories', sortable: true },
  { name: 'requestNo', label: 'เลขที่เรียกร้อง', field: 'fat', sortable: true },
  { name: 'careCard', label: 'เลขที่สมาชิก', field: 'carbs' },
  { name: 'createDate', label: 'วันที่ทำรายการ', field: 'protein' },
  { name: 'accidentDate', label: 'วันที่เกิดอุบัติเหตุ', field: 'sodium' },
  { name: 'claimAmt', label: 'จำนวนเงินที่เรียกร้อง', field: 'calcium', sortable: true, sort: (a, b) => parseInt(a, 10) - parseInt(b, 10) },
  { name: 'causeOfAccident', label: 'สาเหตุการเกิดอุบัติเหตุ', field: 'iron', sortable: true, sort: (a, b) => parseInt(a, 10) - parseInt(b, 10) },
  { name: 'document', label: '' }
]

const ipdColumns = [
  {
    name: 'name',
    required: true,
    label: 'ชื่อ - สกุล',
    align: 'left',
    field: row => row.name,
    format: val => `${val}`,
    sortable: true
  },
  { name: 'policyNo', label: 'กรมธรรม์', field: 'calories', sortable: true },
  { name: 'requestNo', label: 'เลขที่เรียกร้อง', field: 'fat', sortable: true },
  { name: 'careCard', label: 'วันที่เข้ารับการรักษา', field: 'carbs' },
  { name: 'createDate', label: 'สถานะ', field: 'protein' },
  { name: 'accidentDate', label: 'ประเภท', field: 'sodium' },
  { name: 'claimAmt', label: 'Medthod', field: 'calcium', sortable: true, sort: (a, b) => parseInt(a, 10) - parseInt(b, 10) },
  { name: 'document', label: '' }
]

const opdRows = [
  {
    name: 'Frozen Yogurt',
    calories: 159,
    fat: 6.0,
    carbs: 24,
    protein: 4.0,
    sodium: 87,
    calcium: '14%',
    iron: '1%'
  },
  {
    name: 'Ice cream sandwich',
    calories: 237,
    fat: 9.0,
    carbs: 37,
    protein: 4.3,
    sodium: 129,
    calcium: '8%',
    iron: '1%'
  },
  {
    name: 'Eclair',
    calories: 262,
    fat: 16.0,
    carbs: 23,
    protein: 6.0,
    sodium: 337,
    calcium: '6%',
    iron: '7%'
  },
  {
    name: 'Cupcake',
    calories: 305,
    fat: 3.7,
    carbs: 67,
    protein: 4.3,
    sodium: 413,
    calcium: '3%',
    iron: '8%'
  },
  {
    name: 'Gingerbread',
    calories: 356,
    fat: 16.0,
    carbs: 49,
    protein: 3.9,
    sodium: 327,
    calcium: '7%',
    iron: '16%'
  },
  {
    name: 'Jelly bean',
    calories: 375,
    fat: 0.0,
    carbs: 94,
    protein: 0.0,
    sodium: 50,
    calcium: '0%',
    iron: '0%'
  },
  {
    name: 'Lollipop',
    calories: 392,
    fat: 0.2,
    carbs: 98,
    protein: 0,
    sodium: 38,
    calcium: '0%',
    iron: '2%'
  },
  {
    name: 'Honeycomb',
    calories: 408,
    fat: 3.2,
    carbs: 87,
    protein: 6.5,
    sodium: 562,
    calcium: '0%',
    iron: '45%'
  },
  {
    name: 'Donut',
    calories: 452,
    fat: 25.0,
    carbs: 51,
    protein: 4.9,
    sodium: 326,
    calcium: '2%',
    iron: '22%'
  },
  {
    name: 'KitKat',
    calories: 518,
    fat: 26.0,
    carbs: 65,
    protein: 7,
    sodium: 54,
    calcium: '12%',
    iron: '6%'
  }
]

export default {
  setup () {
    const rightDrawerOpen = ref(false)
    const tab = ref('ipd')
    const dateFrom = ref('20/12/2022')
    const dateTo = ref('20/12/2022')
    const tabs = ref([
      { name: 'ipd', label: 'ผู้ป่วยใน IPD' },
      { name: 'opd', label: 'ผู้ป่วยนอก OPD' }
    ])
    return {
      opdColumns,
      ipdColumns,
      opdRows,
      tab,
      tabs,
      dateFrom,
      dateTo,
      rightDrawerOpen,
      toggleRightDrawer () {
        rightDrawerOpen.value = !rightDrawerOpen.value
      }
    }
  },
  components: {
    AdditionalSearch
  }
}
</script>
<style>
.my-table-details {
  font-size: 0.85em;
  font-style: italic;
  max-width: 200px;
  white-space: normal;
  color: #555;
  margin-top: 4px;
}
</style>
