<template>
  <q-card class="my-font" style="width: 500px; max-width: 80vw;">
    <q-card-section>
      <div class="text-h6">ผลการส่งเคลมร้องค่าสินไหม</div>
    </q-card-section>
    <q-card-section>
      <div class="row q-col-gutter-md items-start">
        <div class="col-12 q-gutter-md">
          <q-btn-toggle
            readonly
            v-model="policyType"
            toggle-color="primary"
            :options="[
              { label: 'ประเภทเดี่ยว', value: 'IB' },
              { label: 'ประเภทกลุ่ม', value: 'CS' },
            ]"
          />
          <q-btn-toggle
            readonly
            v-model="surgeryType"
            toggle-color="primary"
            no-caps
            :options="[
              { label: 'ไม่มีการผ่าตัด', value: 'N' },
              { label: 'มีผ่าตัด', value: 'Y' }
            ]"
          />
          <q-btn-toggle
            readonly
            v-model="serviceSetting"
            toggle-color="primary"
            no-caps
            :options="[
              { label: 'ผู้ป่วยนอก', value: 'OPD' },
              { label: 'ผู้ป่วยใน', value: 'IPD' },
              { label: 'พิจารณาเคลมก่อนทำการผ่าตัด', value: 'PRE' }
            ]"
          />
        </div>
        <div class="col-12">
          <q-select
            readonly
            outlined
            v-model="illnessType"
            emit-value
            map-options
            :options="[{ label: 'เจ็บป่วย', value: 'ILL', location: '' },
              { label: 'อุบัติเหตุ (เกิน 24 ชม.)', value: 'ACC' },
              { label: 'อุบัติเหตุ (ฉุกเฉินภายใน 24 ชม.)', value: 'ER' },
              { label: 'ทันตกรรม', value: 'DEN' },
              { label: 'DAY CASE', value: 'DAY' },
              { label: 'ล้างไต', value: 'HD' },
              { label: 'เคมี / รังสีบำบัด', value: 'CMT' },
              { label: 'ตรวจสุขภาพ', value: 'CHK' },
              { label: 'วัคซีน', value: 'VAC' },
              { label: 'เจ็บป่วย (นัดติดตามอาการหลังจากนอนโรงพยาบาล)', value: 'FU' }
            ]"
            label="ประเภท"
            dense
            clearable
          >
            <template v-slot:prepend>
              <q-icon name="place" @click.stop.prevent />
            </template>
          </q-select>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <q-input outlined dense label="หมายเลขบัตรประชาชน" readonly v-model="id" />
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <q-input outlined dense label="วันเวลาที่ยื่นเคลม" mask="##/##/#### ##:##" readonly v-model="createDateTime" />
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <q-input outlined dense label="จำนวนเงินที่ประกันคุ้มครอง" readonly v-model="totalCover" />
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <q-input outlined dense label="จำนวนเงินส่วนเกินประกันคุ้มครอง" readonly v-model="totalEnCover" />
        </div>
      </div>
    </q-card-section>
    <q-card-actions>
      <q-btn class="full-width" color="primary" @click="backToDischargeList">ok</q-btn>
    </q-card-actions>
  </q-card>
</template>

<script>
import { ref } from 'vue'
import { api } from 'boot/axios'
import { useRouter } from 'vue-router'

export default {
  props: {
    idcard: {
      type: String
    },
    transactionNo: {
      type: String
    }
  },
  setup (props) {
    const router = useRouter()
    const id = ref('')
    const illnessType = ref('')
    const policyType = ref('')
    const serviceSetting = ref()
    const surgeryType = ref('')
    const totalCover = ref('')
    const totalEnCover = ref('')
    const createDateTime = ref('')
    function useDate (val) {
      const date = val.split('T')[0]
      const dateArr = date.split('-')
      const [yyyy, mm, dd] = dateArr
      const time = val.split('T')[1].substring(0, 5)
      return `${dd}${mm}${yyyy} ${time}`
    }
    function claimResult () {
      api.get(`http://192.168.100.152:94/api/AIA/claimDetail/${props.idcard}/${props.transactionNo}`).then(response => {
        id.value = response.data.idCard
        illnessType.value = response.data.illnessType
        policyType.value = response.data.policyType
        serviceSetting.value = response.data.serviceSetting
        surgeryType.value = response.data.surgeryType
        totalCover.value = response.data.totalCover
        totalEnCover.value = response.data.totalEnCover
        createDateTime.value = useDate(response.data.createDateTime)
      })
    }
    function backToDischargeList () {
      router.push('/discharge')
    }
    const initResult = claimResult()
    return {
      claimResult,
      initResult,
      id,
      illnessType,
      policyType,
      serviceSetting,
      surgeryType,
      totalCover,
      totalEnCover,
      createDateTime,
      useDate,
      backToDischargeList
    }
  }
}
</script>
