<template>
  <q-card class="my-font" style="width: 500px; max-width: 80vw;">
    <q-card-section>
      <div class="text-h6">ลงทะเบียนใช้สิทธิ์</div>
      {{ illnessType }}
    </q-card-section>

    <q-card-section class="q-gutter-md" v-if="illnessType === 'ACC' || illnessType === 'ER'" >
      <q-btn-toggle
        toggle-color="primary"
        v-model="accidentType"
        :options="[
          { label: 'รักษาครั้งแรก', value: 'firstTime' },
          { label: 'รักษาต่อเนื่อง', value: 'continuous' },
        ]"
      />
      <div v-if="accidentType === 'firstTime'">
        <!-- <q-input
          outlined
          label="วันที่เกิดอุบัติเหตุ วว/ดด/ค.ศ."
          :value="accidentDate"
          dense

        /> -->
        วันที่เกิดอุบัติเหตุ {{ accidentDate }}
      </div>
      <div v-if="accidentType === 'continuous'">
        <q-table
          dense
          :rows="furtherClaimList"
          :columns="columnsFurtherClaimList"
          row-key="name"
        />
      </div>
      <q-select
        v-if="accidentType === 'continuous'"
        outlined
        v-model="accidentCauseOver45Days"
        emit-value
        map-options
        :options="[
          { label: 'ติดตามการรักษากระดูกหัก', value: 1 },
          { label: 'ติดตามการรักษาผ่าตัดใหญ่จากอุบัติเหตุ', value: 2 },
          { label: 'ติดตามการรักษาแผลไฟไหม้น้ำร้อนลวกระดับ 3', value: 3 },
          { label: 'ติดตามการรักษาเอ็นหรือเส้นประสาทฉีกขาด', value: 4 },
          { label: 'ติดตามการรักษาสมองหรือไขสันหลังบาดเจ็บในระดับรุนแรง', value: 5 },
          { label: 'ฉีดวัคซีนบาดทะยักเข็มที่ 3', value: 6 },
          { label: 'อื่น ๆ', value: 8 }
        ]"
        label="สาเหตุของการมารับการรักษาเกิน 45 วัน จากการเกิดอุบัติเหตุ"
        dense
        clearable
      />
    </q-card-section>
    <q-card-section class="q-gutter-md" v-else >
      <q-input
        outlined
        readonly
        label="วันที่เข้ารับการรักษา วว/ดด/ค.ศ."
        v-model="visitDate"
        dense
        mask="##/##/####"
      >
        <template v-slot:prepend>
          <q-icon name="event" />
        </template>
      </q-input>
    </q-card-section>
    <q-card-actions  class="q-pt-none" align="center">
      <q-btn class="full-width" outline label="ยืนยันการลงทะเบียน" type="submit" color="primary" @click="openClaim"/>
    </q-card-actions>
  </q-card>
</template>

<script>
import { ref } from 'vue'
import { api } from 'boot/axios'
import { useRouter } from 'vue-router'

export default {
  name: '<ClaimDialog>',
  props: {
    illnessType: {
      type: String
    },
    accidentDate: {
      type: String
    },
    patientInfo: {
      type: Object
    },
    serviceSetting: {
      type: String
    }
  },
  setup (props) {
    const router = useRouter()
    const visitDate = ref(new Date().toLocaleDateString('en-GB'))
    const accidentCauseOver45Days = ref()
    const furtherClaimList = ref([])
    const columnsFurtherClaimList = ref([
      { name: 'furtherClaimId', label: 'รหัสอ้างอิง', field: 'furtherClaimId', sortable: true, align: 'left' },
      { name: 'accidentDate', require: true, label: 'วันที่เกิดอุบัติเหตุ', field: 'accidentDate', sortable: true, align: 'left' },
      { name: 'claimNo', require: true, label: 'รหัสอนุมัติการเรียกร้อง', field: 'claimNo', sortable: true, align: 'left' },
      { name: 'dscDateTime', label: 'วันเวลาที่ออกจากโรงพยาบาล', field: 'dscDateTime', sortable: true, align: 'left' },
      { name: 'dxName', label: 'ชื่อของการวินิจฉัยโรค', field: 'dxName', sortable: true, align: 'left' },
      { name: 'icd10', label: 'รหัสการวินิจฉัยโรค', field: 'icd10', sortable: true, align: 'left' },
      { name: 'occerrenceNo', label: 'เลขที่เคลมต่อเนื่อง', field: 'occerrenceNo', sortable: true, align: 'left' },
      { name: 'visitDateTime', label: 'วันเวลาทีมารับการรักษา', field: 'visitDateTime', sortable: true, align: 'left' }
    ])
    const accidentType = ref('firstTime')
    const myLocale = ref({
      days: 'อาทิตย์_จันทร์_อังคาร_พุธ_พฤหัสบดี_ศุกร์_เสาร์'.split('_'),
      daysShort: 'อาทิตย์_จันทร์_อังคาร_พุธ_พฤหัสฯ_ศุกร์_เสาร์'.split('_'),
      months: 'มกราคม_กุมภาพันธ์_มีนาคม_เมษายน_พฤษภาคม_มิถุนายน_กรกฎาคม_สิงหาคม_กันยายน_ตุลาคม_พฤศจิกายน_ธันวาคม'.split('_'),
      monthsShort: 'ม.ค._ก.พ._มี.ค._เม.ย._พ.ค._มิ.ย._ก.ค._ส.ค._ก.ย._ต.ค._พ.ย._ธ.ค.'.split('_'),
      firstDayOfWeek: 1,
      format24h: true
    })
    function retrieveFurtherClaimList () {
      const payload = {
        TransactionNo: props.patientInfo.transactionNo,
        Id: props.patientInfo.idCard
      }
      api.post('http://192.168.100.152:94/api/AIA/RetrieveFurtherClaimList', payload).then(response => {
        furtherClaimList.value = response.data
      })
    }
    function openClaim () {
      router.push(`/discharge/${props.serviceSetting}/${props.illnessType}/${props.patientInfo.idCard}/${props.patientInfo.transactionNo}`)
    }
    const initRetrieveFurther = retrieveFurtherClaimList()
    return {
      visitDate,
      columnsFurtherClaimList,
      furtherClaimList,
      accidentCauseOver45Days,
      accidentType,
      myLocale,
      retrieveFurtherClaimList,
      openClaim,
      initRetrieveFurther
    }
  }
}
</script>
