<template>
  <q-page class="my-font">
    <!-- <q-header elevated>
      <q-toolbar>
        <q-toolbar-title>
          <q-icon name="transfer_within_a_station" />
          พิจารณาสินไหม
        </q-toolbar-title>
      </q-toolbar>
    </q-header> -->
    <q-card flat square>
      <q-card-section>
        <q-tabs
          v-model="tab"
          dense
          outside-arrows
          mobile-arrows
          inline-label
          align="left"
        >
          <q-tab v-for="tab in tabs" :key="tab.name" :name="tab.name" no-caps :label="tab.label" />
        </q-tabs>
      </q-card-section>
      <AdditionalSearch @searchParam="getAdmissionListWithParam"/>
      <q-card-section>
        <div class="row q-col-gutter-x-md" >
          <div class="col-12" v-if="tab === 'opd'">
            <q-table
              :rows="rows"
              :columns="opdColumns"
              row-key="name"
              separator="cell"
            >
              <template v-slot:body-cell-document="props">
                <q-td :props="props">
                  <q-btn-group>
                    <q-btn dense color="primary" icon="description">
                      <q-tooltip>
                        ดูเอกสาร
                      </q-tooltip>
                    </q-btn>
                    <q-btn dense color="info" icon="note_add">
                      <q-tooltip>
                        ส่งเอกสาร
                      </q-tooltip>
                    </q-btn>
                    <q-btn dense color="red" icon="delete">
                      <q-tooltip>
                        ลบเอกสาร
                      </q-tooltip>
                    </q-btn>
                  </q-btn-group>
                </q-td>
              </template>
            </q-table>
          </div>
          <div class="col-12" v-if="tab === 'ipd'">
            <q-table
              :rows="rows"
              :columns="ipdColumns"
              row-key="name"
              separator="cell"
            >
              <template v-slot:body-cell-name="props">
                <q-td :props="props">
                  <a href="#/register/dc/123444">
                    {{ props.value }}
                    <div class="my-table-details">
                      {{ props.row.details }}
                    </div>
                  </a>
                </q-td>
              </template>
              <template v-slot:body-cell-document="props">
                <q-td :props="props">
                  <q-btn-group>
                    <q-btn dense color="primary" icon="description">
                      <q-tooltip>
                        ดูเอกสาร
                      </q-tooltip>
                    </q-btn>
                    <q-btn dense color="info" icon="note_add">
                      <q-tooltip>
                        ส่งเอกสาร
                      </q-tooltip>
                    </q-btn>
                  </q-btn-group>
                </q-td>
              </template>
            </q-table>
          </div>
          <div class="col-12" v-if="tab === 'otherOpd'">
            <q-table
              :rows="rows"
              :columns="ipdColumns"
              row-key="name"
              separator="cell"
            >
              <template v-slot:body-cell-name="props">
                <q-td :props="props">
                  <a href="#/register/dc/123444">
                    {{ props.value }}
                    <div class="my-table-details">
                      {{ props.row.details }}
                    </div>
                  </a>
                </q-td>
              </template>
              <template v-slot:body-cell-document="props">
                <q-td :props="props">
                  <q-btn-group>
                    <q-btn dense color="primary" icon="description">
                      <q-tooltip>
                        ดูเอกสาร
                      </q-tooltip>
                    </q-btn>
                    <q-btn dense color="info" icon="note_add">
                      <q-tooltip>
                        ส่งเอกสาร
                      </q-tooltip>
                    </q-btn>
                  </q-btn-group>
                </q-td>
              </template>
            </q-table>
          </div>
        </div>
    </q-card-section>
    </q-card>
  </q-page>
</template>

<script>
import { ref } from 'vue'
import { api } from 'boot/axios'
import AdditionalSearch from 'components/AdditionalSearch.vue'

const opdColumns = [
  {
    name: 'name',
    required: true,
    label: 'ชื่อ - สกุล',
    align: 'left',
    field: row => row.name,
    format: val => `${val}`,
    sortable: true
  },
  { name: 'policyNo', label: 'กรมธรรม์', field: 'calories', sortable: true },
  { name: 'requestNo', label: 'เลขที่เรียกร้อง', field: 'fat', sortable: true },
  { name: 'careCard', label: 'เลขที่สมาชิก', field: 'carbs' },
  { name: 'createDate', label: 'วันที่ทำรายการ', field: 'protein' },
  { name: 'accidentDate', label: 'วันที่เกิดอุบัติเหตุ', field: 'sodium' },
  { name: 'claimAmt', label: 'จำนวนเงินที่เรียกร้อง', field: 'calcium', sortable: true, sort: (a, b) => parseInt(a, 10) - parseInt(b, 10) },
  { name: 'causeOfAccident', label: 'สาเหตุการเกิดอุบัติเหตุ', field: 'iron', sortable: true, sort: (a, b) => parseInt(a, 10) - parseInt(b, 10) },
  { name: 'document', label: '' }
]

const ipdColumns = [
  {
    name: 'name',
    required: true,
    label: 'ชื่อ - สกุล',
    align: 'left',
    field: row => row.name,
    format: val => `${val}`,
    sortable: true
  },
  { name: 'policyNo', label: 'กรมธรรม์', field: 'hn', sortable: true },
  { name: 'requestNo', label: 'เลขที่เรียกร้อง', field: 'an', sortable: true },
  { name: 'careCard', label: 'วันที่เข้ารับการรักษา', field: 'careCard' },
  { name: 'createDate', label: 'สถานะ', field: 'requestNo' },
  { name: 'accidentDate', label: 'ประเภท', field: 'customerID' },
  { name: 'claimAmt', label: 'Medthod', field: 'status', sortable: true, sort: (a, b) => parseInt(a, 10) - parseInt(b, 10) },
  { name: 'document', label: '' }
]

export default {
  setup () {
    const rows = ref([])
    const rightDrawerOpen = ref(false)
    const tab = ref('ipd')
    const dateFrom = ref('')
    const dateTo = ref('')
    const hn = ref('')
    const tabs = ref([
      { name: 'ipd', label: 'ผู้ป่วยใน IPD' },
      { name: 'opd', label: 'ผู้ป่วยนอก OPD (อุบัติเหตุ)' },
      { name: 'otherOpd', label: 'ผู้ป่วยนอก OPD (เจ็บป่วย, ทำฟัน และอื่นๆ)' }
    ])

    function getAdmissionListWithParam (val) {
      dateFrom.value = val.value.dateFrom
      dateTo.value = val.value.dateTo
      hn.value = val.value.hn
      api.post('http://192.168.100.152:94/api/AIA_Insurance/claimWorklist', {
        HN: hn.value,
        InsuranceNumber: '',
        MemberNumber: '',
        DateStart: dateFrom.value,
        DateEnd: dateTo.value
      }).then(response => {
        rows.value = []
        if (response.data !== []) {
          for (const key in response.data) {
            if (Object.hasOwnProperty.call(response.data, key)) {
              const element = response.data[key]
              rows.value.push({
                claimID: element.claim_Status.claimDetailID,
                name: element.customerFullName,
                hn: element.claim_Status.hn,
                an: '',
                policyNo: element.claim_Status.insuranceNumber,
                requestNo: '',
                careCard: element.claim_Status.memberNumber,
                treatmentDate: dateDisplay(element.claim_Status.treatmentDate),
                status: element.claim_Status.claimStatus
              })
            }
          }
        }
      })
    }

    function dateDisplay (date) {
      const dateArr = date.substring(0, 10).split('-')
      const [yyyy, mm, dd] = dateArr
      return `${dd}/${mm}/${yyyy}`
    }

    return {
      getAdmissionListWithParam,
      opdColumns,
      ipdColumns,
      rows,
      tab,
      tabs,
      dateFrom,
      dateTo,
      rightDrawerOpen,
      toggleRightDrawer () {
        rightDrawerOpen.value = !rightDrawerOpen.value
      }
    }
  },
  components: {
    AdditionalSearch
  }
}
</script>
<style>
.my-table-details {
  font-size: 0.85em;
  font-style: italic;
  max-width: 200px;
  white-space: normal;
  color: #555;
  margin-top: 4px;
}
</style>
