<template>
  <q-page class="my-font">
    <!-- <q-header elevated>
      <q-toolbar>
        <q-toolbar-title>
          รายละเอียดการส่งเคลม
          <span></span>
        </q-toolbar-title>
      </q-toolbar>
    </q-header> -->
    <q-footer>
      <div>
        <q-btn class="full-width" color="primary" :disable="txn === ''" @click="discharge">Submit</q-btn>
      </div>
    </q-footer>
    <q-card flat square>
      <q-card-section>
        <div class="">
          <q-uploader
            url="http://192.168.100.152:94/api/AIA/UploadFile"
            multiple
            class="full-width"
            field-name="file"
            :form-fields="[
              { name: 'idcard', value: idcard },
              { name: 'transactionNo', value: transactionNo }
            ]"
            auto-upload
            @uploaded="uploadFiles"
          />
          <q-btn class="full-width q-mt-md" color="positive" @click="result = true">ผลการส่งเคลมร้องค่าสินไหม</q-btn>
        </div>
        <div class="q-pt-md" v-if="files.length > 0">
          <q-list bordered separator class="rounded-borders">
            <q-item v-for='(file, index) in files' :key='index' >
              <q-item-section>
                <q-item-label>{{ file.fileName }}</q-item-label>
                <q-item-label>{{ file.uploadDateTime }}</q-item-label>
              </q-item-section>
              <q-item-section side >
                <div class="text-grey-8 q-gutter-xs">
                  <q-btn-group>
                    <q-btn dense color="primary" icon="open_in_new" @click="openFile(file.id, file.fileName)">
                      <q-tooltip>
                        ดูเอกสาร
                      </q-tooltip>
                    </q-btn>
                    <q-btn dense color="red" icon="delete" @click="deleteFile(file.id)" >
                      <q-tooltip>
                        ลบเอกสาร
                      </q-tooltip>
                    </q-btn>
                  </q-btn-group>
                </div>
              </q-item-section>
            </q-item>
          </q-list>
        </div>
      </q-card-section>
      <q-card-section>
        <div class="row q-col-gutter-md">
          <div class="col-12">
            <q-expansion-item
              class="shadow-2 overflow-hidden"
              style="border-radius: 10px"
              expand-separator
              label="Patient"
              default-opened
            >
              <q-card>
                <q-card-section>
                  <div class="row q-col-gutter-md items-start">
                    <div class="col-12 col-md-4 col-lg-3">
                      <q-input outlined dense label="หมายเลขโรงพยาบาล" readonly v-model="patient.hn" />
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                      <q-input outlined dense label="วันเดือนปีเกิดผู้เอาประกัน"  mask="##/##/####" readonly  v-model="patient.dob" />
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                      <q-input outlined dense label="เพศผู้เอาประกัน" readonly v-model="patient.gender" />
                    </div>
                    <div class="col-12 col-md-4 col-lg-3" v-if="visit.height">
                      <q-input outlined dense label="ส่วนสูง" readonly v-model="visit.height" />
                    </div>
                    <div class="col-12 col-md-4 col-lg-3" v-if="visit.weight">
                      <q-input outlined dense label="น้ำหนัก" readonly v-model="visit.weight" />
                    </div>
                  </div>
                </q-card-section>
              </q-card>
            </q-expansion-item>
          </div>
          <div class="col-12">
            <q-expansion-item
              class="shadow-2 overflow-hidden"
              style="border-radius: 10px"
              expand-separator
              label="Visit"
              default-opened
            >
              <q-card>
                <q-card-section>
                  <div class="row q-col-gutter-md items-start">
                    <!-- OPD -->
                    <div class="col-12 col-md-8 col-lg-4" v-if="illnessType === 'OPD'">
                      <q-select
                        outlined
                        dense
                        clearable
                        emit-value
                        map-options
                        :options="spVisit"
                        v-model="txn"
                        label="ข้อมูลที่จะส่งเคลม"
                      >
                      </q-select>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4" v-if="illnessType === 'OPD'">
                      <q-input outlined dense label="วันที่เกิดอุบัติเหตุ" mask="##/##/####" v-model="visit.accidentDate"/>
                    </div>
                    <div hidden>
                      <q-input outlined dense label="รหัสอ้างอิง furtherClaimId" v-model="visit.furtherClaimId" />
                    </div>
                    <div class="col-12 col-md-8 col-lg-4" v-if="illnessType === 'OPD'">
                      <q-select
                        outlined
                        dense
                        emit-value
                        clearable
                        map-options
                        label="สาเหตุของการมารับการรักษาเกิน 45 วัน จากการเกิดอุบัติเหตุ"
                        v-model="visit.accidentCauseOver45Days"
                        :options="[
                          { label: 'ติดตามการรักษากระดูกหัก', value: '1' },
                          { label: 'ติดตามการรักษาผ่าตัดใหญ่จากอุบัติเหตุ', value: '2' },
                          { label: 'ติดตามการรักษาแผลไฟไหม้น้ำร้อนลวกระดับ 3', value: '3' },
                          { label: 'ติดตามการรักษาเอ็นหรือเส้นประสาทฉีกขาด', value: '4' },
                          { label: 'ติดตามการรักษาสมองหรือไขสันหลังบาดเจ็บในระดับรุนแรง', value: '5' },
                          { label: 'ฉีดวัคซีนบาดทะยักเข็มที่ 3', value: '6' },
                          { label: 'อื่น ๆ', value: '8' }
                        ]"
                      />
                    </div>
                    <!-- IPD  -->

                    <div class="col-12 col-md-4 col-lg-3" v-if="illnessType === 'IPD'">
                      <q-input outlined dense label="วันเวลาทีเข้ารับการรักษาเป็นผู้ป่วยใน" mask="##/##/####" v-model="visit.admitDateTime" />
                    </div>
                    <div class="col-12 col-md-4 col-lg-3" v-if="illnessType === 'IPD'">
                      <q-input outlined dense label="หมายเลขการรักษาเป็นผู้ป่วยใน" maxlength="10" v-model="visit.an" />
                    </div>
                    <div class="col-12 col-md-4 col-lg-3" v-if="illnessType === 'IPD'">
                      <q-input outlined dense label="วันเวลาที่ออกจากโรงพยาบาล" mask="##/##/####" v-model="visit.dscDateTime" />
                    </div>
                    <div class="col-12 col-md-4 col-lg-3" v-if="illnessType === 'IPD'">
                      <q-input outlined dense label="ประมาณการจำนวนวันที่นอนโรงพยาบาล" v-model="visit.expectedLos" />
                    </div>
                    <div class="col-12 col-md-8 col-lg-3" v-if="illnessType === 'IPD'">
                      <q-select
                        label="ข้อบ่งชี้ในการรับนอนโรงพยาบาล"
                        outlined
                        dense
                        emit-value
                        map-options
                        clearable
                        :options="[
                          { label: 'การทำงานพื้นฐานของร่างกายผิดปกติ', value: '1' },
                          { label: 'การทำงานของอวัยวะหลักผิดปกติ', value: '2' },
                          { label: 'มีภาวะความเสี่ยงสูง', value: '3' },
                          { label: 'มีภาวะติดเชื้อ หรือ สงสัยว่ามีภาวะติดเชื้อ', value: '4' },
                          { label: 'ต้องการการรักษาพยาบาลอย่างเต็มรูปแบบ', value: '5' },
                          { label: 'เข้ารับการผ่าตัด', value: '6' },
                          { label: 'เป็นความประสงค์ของผู้ป่วย หรือ ญาติ', value: '7' },
                          { label: 'อื่น ๆ', value: '8' },
                          { label: 'ไม่สามารถดูแลรักษาที่บ้านได้', value: '9' },
                          { label: 'ระดับของความรู้สึกตัวมีการเปลี่ยนแปลง', value: '10' },
                          { label: 'ต้องได้รับการพ่นยาขยายหลอดลม', value: '11' },
                          { label: 'มีภาวะขาดน้ำ ระดับปานกลาง หรือ ระดับรุนแรง', value: '12' },
                          { label: 'ระดับเกลือแร่ในร่างกายไม่สมดุล', value: '13' },
                          { label: 'การไหลเวียนของเลือดผิดปกติ', value: '14' },
                          { label: 'ไข้หวัดใหญ่ที่มีโรคเรื้อรัง', value: '15' },
                          { label: 'ไข้หวัดใหญ่ที่มีภาวะแทรกซ้อน', value: '16' },
                          { label: 'ไข้หวัดใหญ่ที่มีภูมิคุ้มกันบกพร่อง', value: '17' },
                          { label: 'ต้องได้รับยาฆ่าเชื้อทางหลอดเลือด', value: '18' },
                          { label: 'ต้องสังเกตอาการทางระบบประสาท', value: '19' },
                          { label: 'ปวดอย่างรุนแรง ต้องใช้ยาแก้ปวดทางหลอดเลือดอย่างต่อเนื่อง', value: 20 }
                        ]"
                        v-model="visit.indicationForAdmission"
                      />
                    </div>
                    <!-- Pre Authorization -->
                    <div class="col-12 col-md-4 col-lg-3" v-if="illnessType === 'PRE'" hidden>
                      <q-input outlined dense label="รหัสอ้างอิง preauthReferClaimNo" v-model="visit.preauthReferClaimNo" />
                    </div>
                    <div class="col-12 col-md-4 col-lg-3" v-if="illnessType === 'PRE'" hidden>
                      <q-input outlined dense label="รหัสอ้างอิง preauthReferOcc" v-model="visit.preauthReferOcc" />
                    </div>

                    <div class="col-12 col-md-12 col-lg-3">
                      <div class="q-px-sm">
                        การเจ็บป่วยครั้งนี้เกี่ยวข้องกับแอลกอฮอล์ หรือ ยาเสพติดหรือไม่
                      </div>
                      <q-option-group
                        :options="[
                          {label: 'ใช่', value: true},
                          {label: 'ไม่ใช่', value: false},
                        ]"
                        inline
                        type="radio"
                        v-model="visit.alcoholRelated"
                      />
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                      <div class="q-px-sm">
                        ตั้งครรภ์หรือไม่
                      </div>
                      <q-option-group
                        :options="[
                          {label: 'ใช่', value: true},
                          {label: 'ไม่ใช่', value: false},
                        ]"
                        inline
                        type="radio"
                        v-model="visit.pregnant"
                      />
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                      <div class="q-px-sm">
                        เป็นเคสพิเศษหรือไม่
                      </div>
                      <q-option-group
                        :options="[
                          {label: 'ใช่', value: true},
                          {label: 'ไม่ใช่', value: false},
                        ]"
                        inline
                        type="radio"
                        v-model="visit.privateCase"
                      />
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                      <q-input outlined dense type="textarea" label="อาการสำคัญที่มาโรงพยาบาล" v-model="visit.chiefComplaint" readonly />
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                      <q-input outlined dense type="textarea" label="ประวัติเจ็บป่วยปัจจุบัน รายละเอียดอาการ และประวัติที่เกี่ยวข้อง" readonly v-model="visit.presentIllness" />
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                      <q-input outlined dense type="textarea" label="รายละเอียด หรือความผิดปกติของการตรวจร่างกาย" v-model="visit.physicalExam" />
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                      <q-input outlined dense type="textarea" label="ข้อวินิจฉัยโรค" v-model="visit.dxFreeText" />
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                      <q-input outlined dense type="textarea" label="โรคประจำตัว" v-model="visit.underlyingCondition" />
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                      <q-input outlined dense type="textarea" label="ข้อมูลเพิ่มเติมอื่นๆ" v-model="visit.additionalNote" />
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                      <q-input outlined dense type="textarea" label="แผนการรักษา" v-model="visit.planOfTreatment" />
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                      <q-input outlined dense label="วันที่เริ่มมีอาการ หรือสัญญาณความผิดปกติของการเจ็บป่วยครั้งนี้" mask="##/##/####" v-model="visit.signSymptomsDate" />
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                      <q-input outlined dense label="วันที่เข้ารับการรักษาก่อนการรักษาครั้งนี้" v-model="visit.previousTreatmentDate" />
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                      <q-input outlined dense label="ชื่อโรงพยาบาลที่เข้ารับการรักษาก่อนการรักษาครั้งนี้" v-model="visit.previousTreatmentDetail" />
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                      <q-input outlined dense label="ระดับความรู้สึกตัว" v-model="visit.comaScore" />
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                      <q-input outlined dense label="ประมาณการจำนวนวันพักฟื้นหลังการผ่าตัด" v-model="visit.expectedDayOfRecovery" />
                    </div>
                    <div class="col-12 col-md-4 col-lg-3" hidden>
                      <q-input outlined dense label="วันเวลาที่มารับการรักษาที่โรงพยาบาล" mask="##/##/## ##:##" v-model="visit.visitDateTime" />
                    </div>
                    <div class="col-12 col-md-4 col-lg-3" hidden>
                      <q-input outlined dense label="หมายเลขการมาโรงพยาบาล" v-model="visit.vn" />
                    </div>
                  </div>
                </q-card-section>
              </q-card>
            </q-expansion-item>
          </div>
          <div class="col-12">
            <q-expansion-item
              class="shadow-2 overflow-hidden"
              style="border-radius: 10px"
              expand-separator
              label="Vital Sign"
              default-opened
            >
              <q-card>
                <q-card-section>
                  <div class="row q-col-gutter-md items-start" v-if="vitalSign.temperature">
                    <div class="col-4 col-md-3 col-lg-2">
                      <q-input outlined dense label="ค่าความดันโลหิตตัวล่าง" v-model="vitalSign.diastolicBp" readonly />
                    </div>
                    <div class="col-4 col-md-3 col-lg-2">
                      <q-input outlined dense label="การเต้นของชีพจร" v-model="vitalSign.heartRate" readonly />
                    </div>
                    <div class="col-4 col-md-3 col-lg-2">
                      <q-input outlined dense label="ความเข้มข้นของออกซิเจนในเลือด" v-model="vitalSign.oxygenSaturation" readonly />
                    </div>
                    <div class="col-4 col-md-3 col-lg-2">
                      <q-input outlined dense label="คะแนนระดับของความเจ็บปวด" v-model="vitalSign.painScore" readonly />
                    </div>
                    <div class="col-4 col-md-3 col-lg-2">
                      <q-input outlined dense label="อัตราการหายใจ" v-model="vitalSign.respiratoryRate" readonly />
                    </div>
                    <div class="col-4 col-md-3 col-lg-2">
                      <q-input outlined dense label="ค่าความดันโลหิตตัวบน" v-model="vitalSign.systolicBp" readonly />
                    </div>
                    <div class="col-4 col-md-3 col-lg-2">
                      <q-input outlined dense label="อุณหภูมิร่างกาย" v-model="vitalSign.temperature" readonly />
                    </div>
                    <div class="col-4 col-md-3 col-lg-2">
                      <q-input outlined dense mask="##/##/#### ##:##" label="วันเวลาที่วัดสัญญาณชีพ" v-model="vitalSign.vitalSignEntryDateTime" readonly />
                    </div>
                  </div>
                  <div v-else class="text-center">
                    <span >No data available</span>
                  </div>
                </q-card-section>
              </q-card>
            </q-expansion-item>
          </div>
          <div class="col-12">
            <q-expansion-item
              class="shadow-2 overflow-hidden"
              style="border-radius: 10px"
              expand-separator
              label="Diagnosis"
              default-opened
            >
              <q-card>
                <q-card-section>
                  <div class="row q-col-gutter-md items-start">
                    <div class="col-12 col-md-2 col-lg-3" hidden>
                      <q-input readonly outlined dense label="รหัสอ้างอิงของการวินิจฉัยโรค" v-model="dx.icd10" />
                    </div>
                    <div class="col-12 col-md-5 col-lg-3" hidden>
                      <q-input outlined dense label="ชื่อของการวินิจฉัยโรค" v-model="dx.dxName" />
                    </div>
                    <div class="col-12 col-md-5 col-lg-3" hidden>
                      <q-select
                        outlined
                        dense
                        clearable
                        emit-value
                        v-model="dx.dxType"
                        :options="[
                        { label: 'โรคหลักที่ให้การรักษา', value: 'PP'},
                        { label: 'โรคหรือภาวะแทรกซ้อน', value: 'CP'},
                        { label: 'โรคร่วม', value: 'CM'},
                        { label: 'อื่นๆ', value: 'OT'},
                        ]"
                        label="ชนิดของการวินิจฉัยโรค"
                      />
                    </div>
                    <div class="col-12" v-if="diagnosis.length > 0">
                      <q-list bordered separator class="rounded-borders">
                        <q-item v-for="(dx, index) in diagnosis" :key="index" >
                          <q-item-section>
                            <q-item-label v-if="dx.dxType === 'PP'">โรคหลักที่ให้การรักษา</q-item-label>
                            <q-item-label v-if="dx.dxType === 'CP'">โรคหรือภาวะแทรกซ้อน</q-item-label>
                            <q-item-label v-if="dx.dxType === 'CM'">โรคร่วม</q-item-label>
                            <q-item-label v-if="dx.dxType === 'OT'">อื่นๆ</q-item-label>
                            <q-item-label>{{ dx.icd10 }} - {{ dx.dxName }}</q-item-label>
                          </q-item-section>
                          <!-- <q-item-section side>
                            <div class="text-grey-8 q-gutter-xs">
                              <q-btn dense round icon="delete" @click="deleteDx(index)"/>
                            </div>
                          </q-item-section> -->
                        </q-item>
                      </q-list>
                    </div>
                    <div v-else class="col-12 text-center">
                      <span >No data available</span>
                    </div>
                  </div>
                </q-card-section>
              </q-card>
            </q-expansion-item>
          </div>
          <div class="col-12">
            <q-expansion-item
              class="shadow-2 overflow-hidden"
              style="border-radius: 10px"
              expand-separator
              label="Anesthesia Type"
              default-opened
            >
              <q-card>
                <q-card-section>
                  <div class="row q-col-gutter-md items-start">
                    <div class="col-12">
                      <q-select
                        emit-value
                        map-options
                        outlined
                        dense
                        v-model="anesType"
                        :options="[
                          { label: 'การฉีดยาชาเฉพาะที่', value: 'L'},
                          { label: 'การดมยาสลบ', value: 'G'},
                          { label: 'การฉีดยาชาเข้าช่องไขสันหลัง', value: 'S'},
                          { label: 'การฉีดยาชาเข้าเส้นประสาท', value: 'B'},
                        ]"
                        label="ชนิดของการดมยาสลบ"
                        multiple
                      />
                    </div>
                  </div>
                </q-card-section>
              </q-card>
            </q-expansion-item>
          </div>
          <div class="col-12">
            <q-expansion-item
              class="shadow-2 overflow-hidden"
              style="border-radius: 10px"
              expand-separator
              label="Procedure"
              :default-opened="procedure.length > 0"
            >
              <q-card>
                <q-card-section>
                  <div class="row q-col-gutter-md items-start" >
                    <div class="col-12 col-md-2 col-lg-3" hidden>
                      <q-input outlined dense label="รหัสอ้างอิงของหัตถการหรือการผ่าตัด" v-model="pcr.icd9" />
                    </div>
                    <div class="col-12 col-md-5 col-lg-3" hidden>
                      <q-input outlined dense label="ชื่อของหัตถการหรือการผ่าตัด" v-model="pcr.procedureName" />
                    </div>
                    <div class="col-12 col-md-5 col-lg-3" hidden>
                      <q-input outlined dense mask="##/##/####" label="วันที่ทำหัตถการหรือทำการผ่าตัด" v-model="pcr.procedureDate" />
                    </div>
                    <div class="col-12" v-if="procedure.length > 0">
                      <q-list bordered separator class="rounded-borders">
                        <q-item v-for='(pcr, index) in procedure' :key='index' >
                          <q-item-section>
                            <q-item-label>{{ pcr.procedureDate }}</q-item-label>
                            <q-item-label>{{ pcr.icd9 }} - {{ pcr.procedureName }}</q-item-label>
                          </q-item-section>
                          <!-- <q-item-section side >
                            <div class="text-grey-8 q-gutter-xs">
                              <q-btn dense round icon="delete"/>
                            </div>
                          </q-item-section> -->
                        </q-item>
                      </q-list>
                    </div>
                    <div v-else class="col-12 text-center">
                      <span >No data available</span>
                    </div>
                  </div>
                </q-card-section>
              </q-card>
            </q-expansion-item>
          </div>
          <div class="col-12">
            <q-expansion-item
              class="shadow-2 overflow-hidden"
              style="border-radius: 10px"
              expand-separator
              label="Investigation"
              :default-opened="investigation.length > 0"
            >
              <q-card>
                <q-card-section>
                  <q-table
                    dense
                    flat
                    :rows="investigation"
                    :columns="columnsInvestigation"
                    row-key="name"
                  />
                </q-card-section>
              </q-card>
              <q-inner-loading
                :showing="loading"
                label="รอสักครู่..."
                label-class="text-teal"
                label-style="font-size: 1.1em"
              />
            </q-expansion-item>

          </div>
          <div class="col-12">
            <q-expansion-item
              class="shadow-2 overflow-hidden"
              style="border-radius: 10px"
              expand-separator
              label="Doctor"
              default-opened
            >
              <q-card>
                <q-card-section>
                  <div class="row q-col-gutter-md items-start">
                    <div class="col-12 col-md-6 col-lg-3" hidden>
                      <q-select
                        outlined
                        dense
                        v-model="dr.doctorRole"
                        :options="[
                        { label: 'แพทย์เจ้าของไข้', value: 'OWNER'},
                        { label: 'แพทย์ที่ Admit', value: 'ADM'},
                        { label: 'แพทย์ที่ Discharge', value: 'DSC'},
                        { label: 'แพทย์ Consult', value: 'CONSULT'},
                        { label: 'แพทย์ผ่าตัด', value: 'SURGEON'},
                        { label: 'แพทย์ช่วยผ่าตัด', value: 'ASST'},
                        { label: 'แพทย์ดมยา', value: 'ANES'},
                        { label: 'แพทย์อื่นๆ', value: 'OTHER'},
                        ]"
                        label="สถานะของแพทย์ผู้ให้การรักษา"
                      />
                    </div>
                    <div class="col-12 col-md-6 col-lg-3" hidden>
                      <q-input outlined dense label="เลขใบประกอบวิชาชีพแพทย์ผู้ให้การรักษา" v-model="dr.doctorLicense" />
                    </div>
                    <div class="col-12 col-md-6 col-lg-3" hidden>
                      <q-input outlined dense label="ชื่อแพทย์ผู้ให้การรักษา" v-model="dr.doctorFirstName" />
                    </div>
                    <div class="col-12 col-md-6 col-lg-3" hidden>
                      <q-input outlined dense label="นามสกุลแพทย์ผู้ให้การรักษา" v-model="dr.doctorLastName" />
                    </div>
                    <div class="col-12" hidden>
                      <q-btn rounded class="full-width" dense icon="add" color="primary" />
                    </div>
                    <div class="col-12" v-if="doctor.length > 0">
                      <q-list bordered separator class="rounded-borders">
                        <q-item v-for='(dr, index) in doctor' :key='index' >
                          <q-item-section>
                            <q-item-label>{{ dr.doctorRole }} {{ dr.doctorLicense }}</q-item-label>
                            <q-item-label>{{ dr.doctorFirstName }} {{ dr.doctorLastName }}</q-item-label>
                          </q-item-section>
                        </q-item>
                      </q-list>
                    </div>
                    <div v-else class="col-12 text-center">
                      <span >No data available</span>
                    </div>
                  </div>
                </q-card-section>
              </q-card>
            </q-expansion-item>
          </div>
          <div class="col-12" v-if="illnessType === 'IPD'">
            <q-expansion-item
              class="shadow-2 overflow-hidden"
              style="border-radius: 10px"
              expand-separator
              label="Concurrent Note"
              default-opened
            >
              <q-card>
                <q-card-section>
                  <div class="row q-col-gutter-md items-start">
                    <div class="col-12 col-md-6 col-lg-4">
                      <q-input outlined dense label="วันเวลาที่อัพเดทข้อมูล" mask="##/##/####" v-model="crn.concurrentDateTime" />
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                      <q-input outlined dense label="รายละเอียดของข้อมูล" v-model="crn.concurrentDetail" />
                    </div>
                    <div class="col-12">
                      <q-btn rounded class="full-width" dense icon="add" color="primary" />
                    </div>
                    <div class="col-12">
                      <q-table
                        flat
                        :rows="concurrentNote"
                        :columns="columnsConcurrentNote"
                        dense
                      />
                    </div>
                  </div>
                </q-card-section>
              </q-card>
            </q-expansion-item>
          </div>
          <div class="col-12">
            <q-expansion-item
              class="shadow-2 overflow-hidden"
              style="border-radius: 10px"
              expand-separator
              label="Billing"
              default-opened
            >
              <q-card>
                <q-card-section>
                  <div class="row q-col-gutter-md">
                    <div class="col-12">
                      <q-input outlined dense label="จำนวนค่ารักษาพยาบาลทั้งหมดที่โรงพยาบาลเรียกร้องกับบริษัทประกัน" v-model="totalBillAmount" />
                    </div>
                    <div class="col-12">
                      <q-table
                        dense
                        flat
                        :rows="billing"
                        :columns="columnsBilling"
                        row-key="name"
                      />
                    </div>
                  </div>
                </q-card-section>
              </q-card>
            </q-expansion-item>
          </div>
        </div>
        <q-page-scroller expand position="top" :scroll-offset="150" :offset="[0, 0]" >
          <div class="col cursor-pointer q-pa-sm bg-accent text-white text-center">
            กลับสู่ด้านบน
          </div>
        </q-page-scroller>
        <!-- <DischargeDetail :illnessType="illnessType" :serviceSetting="serviceSetting" /> -->
      </q-card-section>
    </q-card>
    <q-dialog v-model="result">
      <ClaimResult :idcard="idcard" :transactionNo="transactionNo" />
    </q-dialog>
  </q-page>
</template>

<script>
import { ref, watch } from 'vue'
import { useRoute } from 'vue-router'
import { api } from 'boot/axios'
import { useQuasar } from 'quasar'
import ClaimResult from './ClaimResult.vue'

export default {
  components: {
    ClaimResult
  },
  setup () {
    const $q = useQuasar()
    const route = useRoute()
    const illnessType = route.params.illnessType
    const serviceSetting = route.params.serviceSetting
    const idcard = route.params.idcard
    const transactionNo = route.params.transactionNo
    const result = ref(false)
    const patient = ref({
      dob: '',
      gender: '',
      hn: ''
    })
    const txn = ref('')
    const spVisit = ref([])
    const visit = ref({
      // OPD
      accidentDate: new Date().toLocaleDateString('en-GB'),
      furtherClaimId: '',
      accidentCauseOver45Days: '',
      // IPD
      admitDateTime: '',
      an: '',
      dscDateTime: '',
      expectedLos: '6',
      indicationForAdmission: '8',
      // Pre Authorization
      preauthReferClaimNo: '',
      preauthReferOcc: '',
      //
      additionalNote: '',
      alcoholRelated: false,
      chiefComplaint: '',
      comaScore: '15',
      dxFreeText: 'Fall c Fracture left femur',
      expectedDayOfRecovery: '',
      height: '',
      physicalExam: 'Fracture of neck of left femur',
      planOfTreatment: '',
      pregnant: false,
      presentIllness: '',
      previousTreatmentDate: '',
      previousTreatmentDetail: '',
      privateCase: false,
      signSymptomsDate: new Date().toLocaleDateString('en-GB'),
      underlyingCondition: 'DM',
      visitDateTime: '',
      vn: '',
      weight: ''
    })
    const vitalSign = ref({
      diastolicBp: '',
      heartRate: '',
      oxygenSaturation: '',
      painScore: '',
      respiratoryRate: '',
      systolicBp: '',
      temperature: '',
      vitalSignEntryDateTime: ''
    })
    const optionsDx = ref()
    const dx = ref({
      dxName: '',
      dxType: '',
      icd10: ''
    })
    const diagnosis = ref([])
    const pcr = ref({
      icd9: '',
      procedureDate: '',
      procedureName: ''
    })
    const procedure = ref([])
    const investigate = ref({
      investigationCode: 'P101A',
      investigationGroup: '',
      investigationName: 'Biopsy ชิ้นเนื้อความยาว <5 cm (HITECH)',
      investigationResult: '',
      resultDateTime: ''
    })
    const columnsInvestigation = [
      { name: 'investigationCode', require: true, label: 'รหัสอ้างอิงของการตรวจ', field: row => row.investigationCode, format: val => `${val}`, sortable: true, align: 'left' },
      { name: 'investigationGroup', label: 'ชื่อกลุ่มของการตรวจ', field: 'investigationGroup', sortable: true, align: 'left' },
      { name: 'investigationName', label: 'ชื่อของการตรวจ', field: 'investigationName', sortable: true, align: 'left' },
      { name: 'investigationResult', label: 'ผลของการตรวจ', field: 'investigationResult', sortable: true, align: 'left' },
      { name: 'resultDateTime', label: 'วันเวลาที่แสดงผลของการตรวจ', field: 'resultDateTime', sortable: true, align: 'center' }
    ]
    const investigation = ref([])
    const dr = ref({
      doctorLicense: '0000039159',
      doctorRole: 'OWNER',
      doctorFirstName: '',
      doctorLastName: ''
    })
    const doctor = ref([])
    const columnsDoctor = [
      { name: 'doctorRole', required: true, lable: 'สถานะ', field: 'doctorRole' },
      { name: 'doctorLicense', required: true, lable: 'เลขใบประกอบวิชาชีพ', field: 'doctorLicense' },
      { name: 'doctorFirstName', required: true, lable: 'ชื่อ', field: 'doctorFirstName' },
      { name: 'doctorLastName', required: true, lable: 'นามสกุล', field: 'doctorLastName' }]
    const billingItem = ref({
      billingDiscount: '25.00',
      billingInitial: '200.00',
      billingNetAmount: '175.00',
      localBillingCode: '1.1.1(3)',
      localBillingName: 'ค่ายาผู้ป่วยนอก',
      payorBillingCode: '1.1.1(3)',
      simbBillingCode: '1.1.1(3)'
    })
    const crn = ref({
      concurrentDateTime: '',
      concurrentDetail: ''
    })
    const concurrentNote = ref([
      {
        concurrentDateTime: '2022-10-22 22:00',
        concurrentDetail: 'นอนอยู่เฉยๆ'
      },
      {
        concurrentDateTime: '2022-10-22 22:54',
        concurrentDetail: 'นอนแต่ไม่เฉย'
      }
    ])
    const columnsConcurrentNote = [
      { name: 'concurrentDateTime', require: true, label: 'วันเวลาที่อัพเดทข้อมูล', field: 'concurrentDateTime', format: val => `${val}`, sortable: true, align: 'left' },
      { name: 'concurrentDetail', label: 'รายละเอียดของข้อมูล', field: 'concurrentDetail', sortable: true, align: 'left' }
    ]
    const anesType = ref([])
    const bl = ref({
      localBillingCode: '01.01.01.03.00.00',
      simbBillingCode: '1.1.1(3)',
      payorBillingCode: '1.1.1(3)',
      billingInitial: '896.4',
      billingDiscount: '0',
      billingNetAmount: '896.4',
      localBillingName: '1.1.1(3) ยาผู้ป่วยนอก'
    })
    const columnsBilling = ref([
      { name: 'localBillingCode', require: true, label: 'รหัสค่าใช้จ่าย', field: 'localBillingCode', format: val => `${val}`, sortable: true, align: 'left' },
      { name: 'simbBillingCode', label: '', field: 'simbBillingCode', sortable: true, align: 'left', visible: false },
      { name: 'payorBillingCode', require: true, label: '', field: 'payorBillingCode', format: val => `${val}`, sortable: true, align: 'left', visible: false },
      { name: 'billingInitial', label: 'จำนวนเงินก่อนหักส่วนลด', field: 'billingInitial', sortable: true, align: 'left' },
      { name: 'billingDiscount', label: 'จำนวนเงินที่โรงพยาบาลให้ส่วนลด', field: 'billingDiscount', sortable: true, align: 'left' },
      { name: 'billingNetAmount', label: 'จำนวนเงินหลังจากหักส่วนลดแล้ว', field: 'billingNetAmount', sortable: true, align: 'left' },
      { name: 'localBillingName', label: 'ชื่อค่าใช้จ่าย', field: 'localBillingName', sortable: true, align: 'left' }
    ])
    const billing = ref([])
    const totalBillAmount = ref('')
    const loading = ref(false)

    function customerVisit () {
      api.get(`http://192.168.100.152:94/api/Insurance_/CustomerVisitByHN/${idcard}`).then((response) => {
        response.data.forEach(element => {
          spVisit.value.push({
            label: `${element.date} ${element.room} ${element.doc}`,
            value: `${element.txn} ${element.doc}`
          })
        })
      })
    }
    function customerVisitDetail () {
      api.get(`http://192.168.100.152:94/api/Insurance_/CustomerVisitByTXN/${txn.value.split(' ')[0]}`).then((response) => {
        visit.value.weight = response.data.weight
        visit.value.height = response.data.height
        visit.value.vn = response.data.vn
      })
    }
    function customerInfo () {
      api.get(`http://192.168.100.152:94/api/Insurance_/CustomerInfo/${idcard}`).then((response) => {
        patient.value.hn = response.data.hn
        patient.value.gender = response.data.sex
        patient.value.dob = useDate(response.data.dob)
      })
    }
    function drs () {
      api.get(`http://192.168.100.152:94/api/Insurance_/DoctorDetailByDoctorCode/${txn.value.split(' ')[1]}`).then((response) => {
        doctor.value = [{
          doctorLicense: response.data.doctorLicense,
          doctorRole: 'OWNER',
          doctorFirstName: response.data.doctorFirstName,
          doctorLastName: response.data.doctorLastName
        }]
      })
    }
    function chiefComplaintPresentIllness () {
      api.get(`http://192.168.100.152:94/api/Insurance_/ChifAndIllnessByTXN/${txn.value.split(' ')[0]}`).then((response) => {
        visit.value.chiefComplaint = response.data.chiefComplaint
        visit.value.presentIllness = response.data.presentIllness
      })
    }
    function dxs () {
      api.get(`http://192.168.100.152:94/api/Insurance_/ICD10ByTXN/${txn.value.split(' ')[0]}`).then((response) => {
        response.data.forEach(element => {
          diagnosis.value.push({
            dxName: element.dxName,
            dxType: element.dxType,
            icd10: element.icd10
          })
        })
      })
    }
    function vitalSigns () {
      api.get(`http://192.168.100.152:94/api/Insurance_/VirtalSignByTXN/${txn.value.split(' ')[0]}`).then((response) => {
        vitalSign.value.diastolicBp = response.data.diastolicBp
        vitalSign.value.heartRate = response.data.heartRate
        vitalSign.value.oxygenSaturation = response.data.oxygenSaturation
        vitalSign.value.painScore = response.data.painScore
        vitalSign.value.respiratoryRate = response.data.respiratoryRate
        vitalSign.value.systolicBp = response.data.systolicBp
        vitalSign.value.temperature = response.data.temperature
        vitalSign.value.vitalSignEntryDateTime = response.data.vitalSignEntryDateTime
      })
    }
    function billings () {
      api.get(`http://192.168.100.152:94/api/Insurance_/groupOrderlist/${txn.value.split(' ')[0]}`).then((response) => {
        response.data.billList.forEach(element => {
          billing.value.push({
            localBillingCode: element.billGrp,
            simbBillingCode: '',
            payorBillingCode: '',
            billingInitial: element.pri.toString(),
            billingDiscount: '0',
            billingNetAmount: element.pri.toString(),
            localBillingName: element.billName
          })
        })
        totalBillAmount.value = response.data.total.toString()
      })
    }
    function investigations () {
      loading.value = !loading.value
      api.get(`http://192.168.100.152:94/api/Insurance_/LabDetailByTXN/${txn.value.split(' ')[0]}`).then((response) => {
        response.data.forEach(element => {
          investigation.value.push({
            investigationCode: element.investigationCode,
            investigationGroup: element.investigationGroup,
            investigationName: element.investigationName,
            investigationResult: element.investigationResult,
            resultDateTime: element.resultDateTime
          })
        })
        loading.value = !loading.value
      }).catch((err) => {
        $q.notify({
          type: 'negative',
          message: err.message
        })
        loading.value = !loading.value
      })
    }
    const files = ref([])
    function uploadFiles () {
      files.value = []
      api.get(`http://192.168.100.152:94/api/AIA/listFileUpload/${idcard}/${transactionNo}`).then((response) => {
        response.data.forEach(element => {
          files.value.push({
            id: element.id,
            fileName: element.fileName,
            uploadDateTime: element.uploadDateTime.replace('T', ' ')
          })
        })
      })
    }
    function openFile (id, name) {
      api.get(`http://192.168.100.152:94/api/AIA/ShowIMGByID/${id}`).then((response) => {
        const pdfWindow = window.open('')
        if (name.indexOf('.pdf') !== -1) {
          pdfWindow.document.write(
            "<iframe width='100%' height='100%' src='data:application/pdf;base64, " +
         encodeURI(response.data) + "'></iframe>"
          )
        } else {
          pdfWindow.document.write(
            "<iframe width='100%' height='100%' src='data:image/png;base64, " +
         encodeURI(response.data) + "'></iframe>"
          )
        }
      })
    }
    function deleteFile (id) {
      $q.dialog({
        dark: true,
        title: 'ลบรายการ',
        message: 'ต้องการลบไฟล์แนบนี้หรือไม่',
        cancel: true
      }).onOk(() => {
        api.get(`http://192.168.100.152:94/api/AIA/DeleteFileUpload/${id}`).then((response) => {
          $q.notify({
            type: 'positive',
            message: 'ดำเนินการลบสำเร็จ'
          })
        })
      }).onDismiss(() => {
        uploadFiles()
      })
    }
    function discharge (illnessType) {
      const date = new Date()
      const year = date.getFullYear()
      const month = date.getMonth() + 1
      const day = date.getDate()
      const hour = date.getHours()
      const minute = date.getMinutes()
      visit.value.visitDateTime = `${year}-${month.toString().padStart(2, '0')}-${day.toString().padStart(2, '0')} ${hour.toString().padStart(2, '0')}:${minute.toString().padStart(2, '0')}`
      const payload = {
        IDCard: idcard,
        TransactionNo: transactionNo,
        TXN: txn.value.split(' ')[0],
        req_OPDDischarge: {
          RefId: '',
          TransactionNo: '',
          Username: '',
          HospitalCode: '',
          InsurerCode: '',
          ElectronicSignature: '',
          DataJsonType: '',
          DataJson: {
            Patient: {},
            Visit: {
              AccidentDate: apiDate(visit.value.accidentDate),
              FurtherClaimId: visit.value.furtherClaimId,
              AccidentCauseOver45Days: visit.value.accidentCauseOver45Days,
              AdditionalNote: visit.value.additionalNote,
              AlcoholRelated: visit.value.alcoholRelated,
              ChiefComplaint: visit.value.chiefComplaint,
              ComaScore: visit.value.comaScore,
              DxFreeText: visit.value.dxFreeText,
              ExpectedDayOfRecovery: visit.value.expectedDayOfRecovery,
              Height: visit.value.height,
              PhysicalExam: visit.value.physicalExam,
              PlanOfTreatment: visit.value.planOfTreatment,
              Pregnant: visit.value.pregnant,
              PresentIllness: visit.value.presentIllness,
              PreviousTreatmentDate: apiDate(visit.value.previousTreatmentDate),
              PreviousTreatmentDetail: visit.value.previousTreatmentDetail,
              PrivateCase: visit.value.privateCase,
              SignSymptomsDate: apiDate(visit.value.signSymptomsDate),
              UnderlyingCondition: visit.value.underlyingCondition,
              VisitDateTime: visit.value.visitDateTime,
              Vn: visit.value.vn,
              Weight: visit.value.weight
            },
            VitalSign: [vitalSign.value],
            Diagnosis: diagnosis.value,
            Procedure: procedure.value,
            OrderItem: [],
            Investigation: investigation.value,
            Doctor: doctor.value,
            Billing: billing.value,
            TotalBillAmount: totalBillAmount.value,
            Pss: {
              Exclusion: '0',
              FinalScore: '0',
              Findings: [
                {
                  Description: 'NA',
                  Exclusion: '0',
                  Medical: '0',
                  Reference: 'NA'
                }
              ],
              Id: '0',
              Medical: '0'
            }
          },
          AttachDocList: []
        }
      }
      api.post('http://192.168.100.152:94/api/AIA/OpdDC', payload).then((response) => {
        if (response.data.message === 'success') {
          $q.notify({
            type: 'positive',
            message: response.data.messageTh
          })
          result.value = !result.value
        } else {
          if (response.data.messageTh === '') {
            $q.notify({
              type: 'negative',
              message: response.data.message,
              html: true
            })
          } else {
            $q.notify({
              type: 'negative',
              message: response.data.messageTh,
              html: true
            })
          }
        }
      }).catch((err) => {
        $q.notify({
          type: 'negative',
          message: err
        })
      })
    }
    watch(txn, (newTxn, oldTxn) => {
      customerVisitDetail()
      chiefComplaintPresentIllness()
      vitalSigns()
      billings()
      investigations()
      drs()
      dxs()
    })
    function useDate (date) {
      if (date !== '' && date.length >= 10) {
        const dateArr = date.replace('T00:00:00', '').split('-')
        const [yyyy, mm, dd] = dateArr
        return `${dd}${mm}${yyyy}`
      } else {
        return date
      }
    }
    function apiDate (date) {
      if (date !== '' && date.length >= 10) {
        const dateArr = date.substring(0, 10).split('/')
        const [dd, mm, yyyy] = dateArr
        return `${yyyy}-${mm}-${dd}`
      } else {
        return date
      }
    }
    function onRejected (rejectedEntries) {
      $q.notify({
        type: 'negative',
        message: `${rejectedEntries.length} file(s) did not pass validation constraints`
      })
    }
    const initCustomerVisit = customerVisit()
    const initCustomerInfo = customerInfo()
    const initUploadFiles = uploadFiles()
    return {
      files,
      uploadFiles,
      openFile,
      deleteFile,
      result,
      useDate,
      apiDate,
      onRejected,
      customerVisit,
      discharge,
      initCustomerVisit,
      initCustomerInfo,
      initUploadFiles,
      loading,
      illnessType,
      serviceSetting,
      idcard,
      transactionNo,
      patient,
      txn,
      spVisit,
      visit,
      vitalSign,
      dx,
      diagnosis,
      pcr,
      procedure,
      columnsInvestigation,
      investigate,
      investigation,
      dr,
      doctor,
      columnsDoctor,
      billingItem,
      crn,
      concurrentNote,
      columnsConcurrentNote,
      anesType,
      bl,
      billing,
      totalBillAmount,
      columnsBilling,
      optionsDx
    }
  }
}
</script>

<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 250px
</style>
