<template>
  <q-page class="my-font">
    <!-- <q-header elevated>
      <q-toolbar>
        <q-toolbar-title>
          <q-icon name="person_search" />
          พิจารณาเคลมก่อนทำการผ่าตัด
        </q-toolbar-title>
      </q-toolbar>
    </q-header> -->
    <q-card flat square>
      <AdditionalSearch @searchParam="getAdmissionListWithParam"/>
      <q-card-section>
        <div class="row q-col-gutter-x-md" >
          <div class="col-12">
            <q-table
              :rows="rows"
              :columns="columns"
              row-key="name"
              separator="cell"
            >
              <template v-slot:body-cell-document="props">
                <q-td :props="props">
                  <q-btn-group>
                    <q-btn dense color="primary" icon="description">
                      <q-tooltip>
                        ดูเอกสาร
                      </q-tooltip>
                    </q-btn>
                    <q-btn dense color="info" icon="note_add">
                      <q-tooltip>
                        ส่งเอกสาร
                      </q-tooltip>
                    </q-btn>
                  </q-btn-group>
                </q-td>
              </template>
              <template v-slot:body-cell-claimID="props">
                <q-td :props="props">
                  <a :href="`#/register/pa/${props.value}`">
                    <!-- <q-badge color="purple" :label="props.value" /> -->
                    {{ props.value }}
                    <div class="my-table-details">
                      {{ props.row.details }}
                    </div>
                  </a>
                </q-td>
              </template>
            </q-table>
          </div>
        </div>
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script>
import { ref } from 'vue'
import { api } from 'boot/axios'
import AdditionalSearch from 'components/AdditionalSearch.vue'

const columns = [
  {
    name: 'claimID',
    required: true,
    field: 'claimID',
    label: 'ID',
    align: 'left',
    sortable: true
  },
  {
    name: 'name',
    required: true,
    label: 'ชื่อ - สกุล',
    align: 'left',
    field: row => row.name,
    format: val => `${val}`,
    sortable: true
  },
  { name: 'policyNo', label: 'HN', field: 'hn', sortable: true },
  { name: 'requestNo', label: 'AN', field: 'an', sortable: true },
  { name: 'careCard', label: 'กรมธรรม์', field: 'careCard' },
  { name: 'createDate', label: 'เลขที่การเรียกร้อง', field: 'requestNo' },
  { name: 'accidentDate', label: 'เลขที่สมาชิก', field: 'customerID' },
  { name: 'claimAmt', label: 'วันที่เข้ารับการรักษา', field: 'treatmentDate', sortable: true, sort: (a, b) => parseInt(a, 10) - parseInt(b, 10) },
  { name: 'causeOfAccident', label: 'สถานะการเคลม', field: 'status', sortable: true, sort: (a, b) => parseInt(a, 10) - parseInt(b, 10) },
  { name: 'document', label: '' }
]

export default {
  components: {
    AdditionalSearch
  },
  setup () {
    const rows = ref([])
    const rightDrawerOpen = ref(false)
    const dateFrom = ref('')
    const dateTo = ref('')
    const hn = ref('')

    function getAdmissionListWithParam (val) {
      dateFrom.value = val.value.dateFrom
      dateTo.value = val.value.dateTo
      hn.value = val.value.hn
      api.post('http://192.168.100.152:94/api/AIA_Insurance/claimWorklist', {
        IDCard: hn.value,
        InsuranceNumber: '',
        MemberNumber: '',
        DateStart: dateFrom.value,
        DateEnd: dateTo.value
      }).then(response => {
        rows.value = []
        if (response.data !== []) {
          for (const key in response.data) {
            if (Object.hasOwnProperty.call(response.data, key)) {
              const element = response.data[key]
              rows.value.push({
                claimID: element.claim_Status.claimDetailID,
                name: element.customerFullName,
                hn: element.claim_Status.hn,
                an: '',
                policyNo: element.claim_Status.insuranceNumber,
                requestNo: '',
                careCard: element.claim_Status.memberNumber,
                treatmentDate: dateDisplay(element.claim_Status.treatmentDate),
                status: element.claim_Status.claimStatus
              })
            }
          }
        }
      })
    }

    function dateDisplay (date) {
      const dateArr = date.substring(0, 10).split('-')
      const [yyyy, mm, dd] = dateArr
      return `${dd}/${mm}/${yyyy}`
    }

    // function getAdmissionList () {
    //   api.post('http://192.168.100.152:94/api/AIA_Insurance/claimWorklist', {
    //     HN: hn.value,
    //     InsuranceNumber: '',
    //     MemberNumber: '',
    //     DateStart: dateFrom.value,
    //     DateEnd: dateTo.value
    //   }).then(response => {
    //     rows.value = []
    //     if (response.data !== []) {
    //       for (const key in response.data) {
    //         if (Object.hasOwnProperty.call(response.data, key)) {
    //           const element = response.data[key]
    //           rows.value.push({
    //             claimID: element.claim_Status.claimDetailID,
    //             name: element.customerFullName,
    //             hn: element.claim_Status.hn,
    //             an: '',
    //             policyNo: element.claim_Status.insuranceNumber,
    //             requestNo: '',
    //             careCard: element.claim_Status.memberNumber,
    //             treatmentDate: dateDisplay(element.claim_Status.treatmentDate),
    //             status: element.claim_Status.claimStatus
    //           })
    //         }
    //       }
    //     }
    //   })
    // }
    // const getAdmissions = getAdmissionList()
    return {
      getAdmissionListWithParam,
      // getAdmissions,
      dateDisplay,
      columns,
      rows,
      dateFrom,
      dateTo,
      hn,
      rightDrawerOpen,
      // getAdmissionList,
      toggleRightDrawer () {
        rightDrawerOpen.value = !rightDrawerOpen.value
      }
    }
  }
}
</script>
<style>
.my-table-details {
  font-size: 0.85em;
  font-style: italic;
  max-width: 200px;
  white-space: normal;
  color: #555;
  margin-top: 4px;
}
</style>
