<template>
  <q-page class="q-pl-md q-gutter-md">
    <div class="row q-col-gutter-md">
      <div class="col-12">
        <q-expansion-item
          class="shadow-2 overflow-hidden"
          style="border-radius: 10px"
          expand-separator
          label="Patient"
          default-opened
        >
          <q-card>
            <q-card-section>
              <div class="row q-col-gutter-md items-start">
                <div class="col-12 col-md-4 col-lg-3">
                  <q-input outlined dense label="หมายเลขโรงพยาบาล" readonly v-model="patient.hn" />
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                  <q-input outlined dense label="วันเดือนปีเกิดผู้เอาประกัน" readonly mask="##/##/####" v-model="patient.dob" />
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                  <q-input outlined dense label="เพศผู้เอาประกัน" readonly v-model="patient.gender" />
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                  <q-input outlined dense label="ส่วนสูง" readonly v-model="visit.height" />
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                  <q-input outlined dense label="น้ำหนัก" readonly v-model="visit.weight" />
                </div>
              </div>
            </q-card-section>
          </q-card>
        </q-expansion-item>
      </div>
      <div class="col-12">
        <q-expansion-item
          class="shadow-2 overflow-hidden"
          style="border-radius: 10px"
          expand-separator
          label="Visit"
          default-opened
        >
          <q-card>
            <q-card-section>
              <div class="row q-col-gutter-md items-start">
                <!-- OPD -->
                <div class="col-12 col-md-4 col-lg-3">
                  <q-input outlined dense label="วันที่เกิดอุบัติเหตุ" mask="##/##/####" v-model="visit.accidentDate" />
                </div>
                <div class="col-12 col-md-4 col-lg-3" hidden>
                  <q-input outlined dense label="รหัสอ้างอิง furtherClaimId" v-model="visit.furtherClaimId" />
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                  <q-select
                    outlined
                    dense
                    emit-value
                    clearable
                    map-options
                    label="สาเหตุของการมารับการรักษาเกิน 45 วัน จากการเกิดอุบัติเหตุ"
                    v-model="visit.accidentCauseOver45Days"
                    :options="[
                      { label: 'ติดตามการรักษากระดูกหัก', value: '1' },
                      { label: 'ติดตามการรักษาผ่าตัดใหญ่จากอุบัติเหตุ', value: '2' },
                      { label: 'ติดตามการรักษาแผลไฟไหม้น้ำร้อนลวกระดับ 3', value: '3' },
                      { label: 'ติดตามการรักษาเอ็นหรือเส้นประสาทฉีกขาด', value: '4' },
                      { label: 'ติดตามการรักษาสมองหรือไขสันหลังบาดเจ็บในระดับรุนแรง', value: '5' },
                      { label: 'ฉีดวัคซีนบาดทะยักเข็มที่ 3', value: '6' },
                      { label: 'อื่น ๆ', value: '8' }
                    ]"
                  />
                </div>
                <div class="col-12" />
                <!-- IPD  -->
                <div class="col-12 col-md-4 col-lg-3">
                  <q-input outlined dense label="วันเวลาทีเข้ารับการรักษาเป็นผู้ป่วยใน" mask="##/##/####" v-model="visit.admitDateTime" />
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                  <q-input outlined dense label="หมายเลขการรักษาเป็นผู้ป่วยใน" maxlength="10" v-model="visit.an" />
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                  <q-input outlined dense label="วันเวลาที่ออกจากโรงพยาบาล" mask="##/##/####" v-model="visit.dscDateTime" />
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                  <q-input outlined dense label="ประมาณการจำนวนวันที่นอนโรงพยาบาล" v-model="visit.expectedLos" />
                </div>
                <div class="col-12 col-md-8 col-lg-3">
                  <q-select
                    label="ข้อบ่งชี้ในการรับนอนโรงพยาบาล"
                    outlined
                    dense
                    emit-value
                    map-options
                    clearable
                    :options="[
                      { label: 'การทำงานพื้นฐานของร่างกายผิดปกติ', value: '1' },
                      { label: 'การทำงานของอวัยวะหลักผิดปกติ', value: '2' },
                      { label: 'มีภาวะความเสี่ยงสูง', value: '3' },
                      { label: 'มีภาวะติดเชื้อ หรือ สงสัยว่ามีภาวะติดเชื้อ', value: '4' },
                      { label: 'ต้องการการรักษาพยาบาลอย่างเต็มรูปแบบ', value: '5' },
                      { label: 'เข้ารับการผ่าตัด', value: '6' },
                      { label: 'เป็นความประสงค์ของผู้ป่วย หรือ ญาติ', value: '7' },
                      { label: 'อื่น ๆ', value: '8' },
                      { label: 'ไม่สามารถดูแลรักษาที่บ้านได้', value: '9' },
                      { label: 'ระดับของความรู้สึกตัวมีการเปลี่ยนแปลง', value: '10' },
                      { label: 'ต้องได้รับการพ่นยาขยายหลอดลม', value: '11' },
                      { label: 'มีภาวะขาดน้ำ ระดับปานกลาง หรือ ระดับรุนแรง', value: '12' },
                      { label: 'ระดับเกลือแร่ในร่างกายไม่สมดุล', value: '13' },
                      { label: 'การไหลเวียนของเลือดผิดปกติ', value: '14' },
                      { label: 'ไข้หวัดใหญ่ที่มีโรคเรื้อรัง', value: '15' },
                      { label: 'ไข้หวัดใหญ่ที่มีภาวะแทรกซ้อน', value: '16' },
                      { label: 'ไข้หวัดใหญ่ที่มีภูมิคุ้มกันบกพร่อง', value: '17' },
                      { label: 'ต้องได้รับยาฆ่าเชื้อทางหลอดเลือด', value: '18' },
                      { label: 'ต้องสังเกตอาการทางระบบประสาท', value: '19' },
                      { label: 'ปวดอย่างรุนแรง ต้องใช้ยาแก้ปวดทางหลอดเลือดอย่างต่อเนื่อง', value: 20 }
                    ]"
                    v-model="visit.indicationForAdmission"
                  />
                </div>
                <div class="col-12" />
                <!-- Pre Authorization -->
                <div class="col-12 col-md-4 col-lg-3" hidden>
                  <q-input outlined dense label="รหัสอ้างอิง preauthReferClaimNo" v-model="visit.preauthReferClaimNo" />
                </div>
                <div class="col-12 col-md-4 col-lg-3" hidden>
                  <q-input outlined dense label="รหัสอ้างอิง preauthReferOcc" v-model="visit.preauthReferOcc" />
                </div>
                <div class="col-12" />
                <div class="col-12 col-md-8 col-lg-3">
                  <div class="q-px-sm">
                    การเจ็บป่วยครั้งนี้เกี่ยวข้องกับแอลกอฮอล์ หรือ ยาเสพติดหรือไม่
                  </div>
                  <q-option-group
                    :options="[
                      {label: 'ใช่', value: true},
                      {label: 'ไม่ใช่', value: false},
                    ]"
                    inline
                    type="radio"
                    v-model="visit.alcoholRelated"
                  />
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                  <div class="q-px-sm">
                    ตั้งครรภ์หรือไม่
                  </div>
                  <q-option-group
                    :options="[
                      {label: 'ใช่', value: true},
                      {label: 'ไม่ใช่', value: false},
                    ]"
                    inline
                    type="radio"
                    v-model="visit.pregnant"
                  />
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                  <div class="q-px-sm">
                    เป็นเคสพิเศษหรือไม่
                  </div>
                  <q-option-group
                    :options="[
                      {label: 'ใช่', value: true},
                      {label: 'ไม่ใช่', value: false},
                    ]"
                    inline
                    type="radio"
                    v-model="visit.privateCase"
                  />
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                  <q-input outlined dense type="textarea" label="อาการสำคัญที่มาโรงพยาบาล" v-model="visit.chiefComplaint" readonly />
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                  <q-input outlined dense type="textarea" label="ประวัติเจ็บป่วยปัจจุบัน รายละเอียดอาการ และประวัติที่เกี่ยวข้อง" readonly v-model="visit.presentIllness" />
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                  <q-input outlined dense type="textarea" label="รายละเอียด หรือความผิดปกติของการตรวจร่างกาย" readonly v-model="visit.physicalExam" />
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                  <q-input outlined dense type="textarea" label="ข้อวินิจฉัยโรค" v-model="visit.dxFreeText" readonly />
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                  <q-input outlined dense type="textarea" label="โรคประจำตัว" v-model="visit.underlyingCondition" />
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                  <q-input outlined dense type="textarea" label="ข้อมูลเพิ่มเติมอื่นๆ" v-model="visit.additionalNote" />
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                  <q-input outlined dense type="textarea" label="แผนการรักษา" v-model="visit.planOfTreatment" />
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                  <q-input outlined dense label="วันที่เริ่มมีอาการ หรือสัญญาณความผิดปกติของการเจ็บป่วยครั้งนี้" v-model="visit.signSymptomsDate" />
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                  <q-input outlined dense label="วันที่เข้ารับการรักษาก่อนการรักษาครั้งนี้" v-model="visit.previousTreatmentDate" />
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                  <q-input outlined dense label="ชื่อโรงพยาบาลที่เข้ารับการรักษาก่อนการรักษาครั้งนี้" v-model="visit.previousTreatmentDetail" />
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                  <q-input outlined dense label="ระดับความรู้สึกตัว" v-model="visit.comaScore" />
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                  <q-input outlined dense label="ประมาณการจำนวนวันพักฟื้นหลังการผ่าตัด" v-model="visit.expectedDayOfRecovery" />
                </div>
                <div class="col-12 col-md-4 col-lg-3" hidden>
                  <q-input outlined dense label="วันเวลาที่มารับการรักษาที่โรงพยาบาล" mask="##/##/## ##:##" v-model="visit.visitDateTime" />
                </div>
                <div class="col-12 col-md-4 col-lg-3" hidden>
                  <q-input outlined dense label="หมายเลขการมาโรงพยาบาล" v-model="visit.vn" />
                </div>
              </div>
            </q-card-section>
          </q-card>
        </q-expansion-item>
      </div>
      <div class="col-12">
        <q-expansion-item
          class="shadow-2 overflow-hidden"
          style="border-radius: 10px"
          expand-separator
          label="Vital Sign"
          default-opened
        >
          <q-card>
            <q-card-section>
              <div class="row q-col-gutter-md items-start">
                <div class="col-4 col-md-3 col-lg-2">
                  <q-input outlined dense label="ค่าความดันโลหิตตัวล่าง" v-model="vitalSign.diastolicBp" readonly />
                </div>
                <div class="col-4 col-md-3 col-lg-2">
                  <q-input outlined dense label="การเต้นของชีพจร" v-model="vitalSign.heartRate" readonly />
                </div>
                <div class="col-4 col-md-3 col-lg-2">
                  <q-input outlined dense label="ความเข้มข้นของออกซิเจนในเลือด" v-model="vitalSign.oxygenSaturation" readonly />
                </div>
                <div class="col-4 col-md-3 col-lg-2">
                  <q-input outlined dense label="คะแนนระดับของความเจ็บปวด" v-model="vitalSign.painScore" readonly />
                </div>
                <div class="col-4 col-md-3 col-lg-2">
                  <q-input outlined dense label="อัตราการหายใจ" v-model="vitalSign.respiratoryRate" readonly />
                </div>
                <div class="col-4 col-md-3 col-lg-2">
                  <q-input outlined dense label="ค่าความดันโลหิตตัวบน" v-model="vitalSign.systolicBp" readonly />
                </div>
                <div class="col-4 col-md-3 col-lg-2">
                  <q-input outlined dense label="อุณหภูมิร่างกาย" v-model="vitalSign.temperature" readonly />
                </div>
                <div class="col-4 col-md-3 col-lg-2">
                  <q-input outlined dense mask="##/##/## ##:##" label="วันเวลาที่วัดสัญญาณชีพ" v-model="vitalSign.vitalSignEntryDateTime" readonly />
                </div>
              </div>
            </q-card-section>
          </q-card>
        </q-expansion-item>
      </div>
      <div class="col-12">
        <q-expansion-item
          class="shadow-2 overflow-hidden"
          style="border-radius: 10px"
          expand-separator
          label="Diagnosis"
          default-opened
        >
          <q-card>
            <q-card-section>
              <div class="row q-col-gutter-md items-start">
                <div class="col-12 col-md-2 col-lg-3" hidden>
                  <q-input readonly outlined dense label="รหัสอ้างอิงของการวินิจฉัยโรค" v-model="dx.icd10" />
                </div>
                <div class="col-12 col-md-5 col-lg-3" hidden>
                  <q-input outlined dense label="ชื่อของการวินิจฉัยโรค" v-model="dx.dxName" />
                </div>
                <div class="col-12 col-md-5 col-lg-3" hidden>
                  <q-select
                    outlined
                    dense
                    clearable
                    emit-value
                    v-model="dx.dxType"
                    :options="[
                    { label: 'โรคหลักที่ให้การรักษา', value: 'PP'},
                    { label: 'โรคหรือภาวะแทรกซ้อน', value: 'CP'},
                    { label: 'โรคร่วม', value: 'CM'},
                    { label: 'อื่นๆ', value: 'OT'},
                    ]"
                    label="ชนิดของการวินิจฉัยโรค"
                  />
                </div>
                <div class="col-12">
                  <q-list bordered separator class="rounded-borders">
                    <q-item v-for="(dx, index) in diagnosis" :key="index" >
                      <q-item-section>
                        <q-item-label v-if="dx.dxType === 'PP'">โรคหลักที่ให้การรักษา</q-item-label>
                        <q-item-label v-if="dx.dxType === 'CP'">โรคหรือภาวะแทรกซ้อน</q-item-label>
                        <q-item-label v-if="dx.dxType === 'CM'">โรคร่วม</q-item-label>
                        <q-item-label v-if="dx.dxType === 'OT'">อื่นๆ</q-item-label>
                        <q-item-label>{{ dx.icd10 }} - {{ dx.dxName }}</q-item-label>
                      </q-item-section>
                      <!-- <q-item-section side>
                        <div class="text-grey-8 q-gutter-xs">
                          <q-btn dense round icon="delete" @click="deleteDx(index)"/>
                        </div>
                      </q-item-section> -->
                    </q-item>
                  </q-list>
                </div>
              </div>
            </q-card-section>
          </q-card>
        </q-expansion-item>
      </div>
      <div class="col-12">
        <q-expansion-item
          class="shadow-2 overflow-hidden"
          style="border-radius: 10px"
          expand-separator
          label="Anesthesia Type"
          default-opened
        >
          <q-card>
            <q-card-section>
              <div class="row q-col-gutter-md items-start">
                <div class="col-12">
                  <q-select
                    emit-value
                    map-options
                    outlined
                    dense
                    v-model="anesType"
                    :options="[
                      { label: 'การฉีดยาชาเฉพาะที่', value: 'L'},
                      { label: 'การดมยาสลบ', value: 'G'},
                      { label: 'การฉีดยาชาเข้าช่องไขสันหลัง', value: 'S'},
                      { label: 'การฉีดยาชาเข้าเส้นประสาท', value: 'B'},
                    ]"
                    label="ชนิดของการดมยาสลบ"
                    multiple
                  />
                </div>
              </div>
            </q-card-section>
          </q-card>
        </q-expansion-item>
      </div>
      <div class="col-12">
        <q-expansion-item
          class="shadow-2 overflow-hidden"
          style="border-radius: 10px"
          expand-separator
          label="Procedure"
          default-opened
        >
          <q-card>
            <q-card-section>
              <div class="row q-col-gutter-md items-start" >
                <div class="col-12 col-md-2 col-lg-3" hidden>
                  <q-input outlined dense label="รหัสอ้างอิงของหัตถการหรือการผ่าตัด" v-model="pcr.icd9" />
                </div>
                <div class="col-12 col-md-5 col-lg-3" hidden>
                  <q-input outlined dense label="ชื่อของหัตถการหรือการผ่าตัด" v-model="pcr.procedureName" />
                </div>
                <div class="col-12 col-md-5 col-lg-3" hidden>
                  <q-input outlined dense mask="##/##/####" label="วันที่ทำหัตถการหรือทำการผ่าตัด" v-model="pcr.procedureDate" />
                </div>
                <div class="col-12">
                  <q-list bordered separator class="rounded-borders">
                    <q-item v-for='(pcr, index) in procedure' :key='index' >
                      <q-item-section>
                        <q-item-label>{{ pcr.procedureDate }}</q-item-label>
                        <q-item-label>{{ pcr.icd9 }} - {{ pcr.procedureName }}</q-item-label>
                      </q-item-section>
                      <!-- <q-item-section side >
                        <div class="text-grey-8 q-gutter-xs">
                          <q-btn dense round icon="delete"/>
                        </div>
                      </q-item-section> -->
                    </q-item>
                  </q-list>
                </div>
              </div>
            </q-card-section>
          </q-card>
        </q-expansion-item>
      </div>
      <div class="col-12">
        <q-expansion-item
          class="shadow-2 overflow-hidden"
          style="border-radius: 10px"
          expand-separator
          label="Investigation"
          default-opened
        >
          <q-card>
            <q-card-section>
              <q-table
                dense
                flat
                :rows="investigation"
                :columns="columnsInvestigation"
                row-key="name"
              />
            </q-card-section>
          </q-card>
        </q-expansion-item>
      </div>
      <div class="col-12">
        <q-expansion-item
          class="shadow-2 overflow-hidden"
          style="border-radius: 10px"
          expand-separator
          label="Doctor"
          default-opened
        >
          <q-card>
            <q-card-section>
              <div class="row q-col-gutter-md items-start">
                <div class="col-12 col-md-6 col-lg-3">
                  <q-select
                    outlined
                    dense
                    v-model="dr.doctorRole"
                    :options="[
                    { label: 'แพทย์เจ้าของไข้', value: 'OWNER'},
                    { label: 'แพทย์ที่ Admit', value: 'ADM'},
                    { label: 'แพทย์ที่ Discharge', value: 'DSC'},
                    { label: 'แพทย์ Consult', value: 'CONSULT'},
                    { label: 'แพทย์ผ่าตัด', value: 'SURGEON'},
                    { label: 'แพทย์ช่วยผ่าตัด', value: 'ASST'},
                    { label: 'แพทย์ดมยา', value: 'ANES'},
                    { label: 'แพทย์อื่นๆ', value: 'OTHER'},
                    ]"
                    label="สถานะของแพทย์ผู้ให้การรักษา"
                  />
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                  <q-input outlined dense label="เลขใบประกอบวิชาชีพแพทย์ผู้ให้การรักษา" v-model="dr.doctorLicense" />
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                  <q-input outlined dense label="ชื่อแพทย์ผู้ให้การรักษา" v-model="dr.doctorFirstName" />
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                  <q-input outlined dense label="นามสกุลแพทย์ผู้ให้การรักษา" v-model="dr.doctorLastName" />
                </div>
                <div class="col-12">
                  <q-btn rounded class="full-width" dense icon="add" color="primary" />
                </div>
                <div class="col-12">
                  <q-list bordered separator class="rounded-borders">
                    <q-item v-for='(dr, index) in doctor' :key='index' >
                      <q-item-section>
                        <q-item-label>{{ dr.doctorRole }} | {{ dr.doctorLicense }}</q-item-label>
                        <q-item-label>{{ dr.doctorFirstName }} {{ dr.doctorLastName }}</q-item-label>
                      </q-item-section>
                      <q-item-section side>
                        <div class="text-grey-8 q-gutter-xs">
                          <q-btn dense round icon="delete"/>
                        </div>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </div>
              </div>
            </q-card-section>
          </q-card>
        </q-expansion-item>
      </div>
      <div class="col-12">
        <q-expansion-item
          class="shadow-2 overflow-hidden"
          style="border-radius: 10px"
          expand-separator
          label="Concurrent Note"
          default-opened
        >
          <q-card>
            <q-card-section>
              <div class="row q-col-gutter-md items-start">
                <div class="col-12 col-md-6 col-lg-4">
                  <q-input outlined dense label="วันเวลาที่อัพเดทข้อมูล" mask="##/##/####" v-model="crn.concurrentDateTime" />
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <q-input outlined dense label="รายละเอียดของข้อมูล" v-model="crn.concurrentDetail" />
                </div>
                <div class="col-12">
                  <q-btn rounded class="full-width" dense icon="add" color="primary" />
                </div>
                <div class="col-12">
                  <q-table
                    flat
                    :rows='concurrentNote'
                    :columns='columnsConcurrentNote'
                    dense
                  />
                </div>
              </div>
            </q-card-section>
          </q-card>
        </q-expansion-item>
      </div>
      <div class="col-12">
        <q-expansion-item
          class="shadow-2 overflow-hidden"
          style="border-radius: 10px"
          expand-separator
          label="Billing"
          default-opened
        >
          <q-card>
            <q-card-section>
              <div class="row q-col-gutter-md">
                <div class="col-12">
                  <q-input outlined dense label="จำนวนค่ารักษาพยาบาลทั้งหมดที่โรงพยาบาลเรียกร้องกับบริษัทประกัน" v-model="totalBillAmount" />
                </div>
                <div class="col-12">
                  <q-table
                    dense
                    flat
                    :rows="billing"
                    :columns="columnsBilling"
                    row-key="name"
                  />
                </div>
              </div>
            </q-card-section>
          </q-card>
        </q-expansion-item>
      </div>
    </div>
    <q-page-scroller expand position="top" :scroll-offset="150" :offset="[0, 0]" >
      <div class="col cursor-pointer q-pa-sm bg-accent text-white text-center">
        กลับสู่ด้านบน
      </div>
    </q-page-scroller>
  </q-page>
</template>

<script>
import { ref } from 'vue'
import { api } from 'boot/axios'

// const columns = [
//   {
//     name: 'date',
//     required: true,
//     label: 'วันที่',
//     align: 'left',
//     field: row => row.name,
//     format: val => `${val}`,
//     sortable: true
//   },
//   { name: 'policyNo', label: 'Method', field: 'calories', sortable: true },
//   { name: 'requestNo', label: 'Concurrent Review Note', field: 'fat', sortable: true },
//   { name: 'remove', label: '' }
// ]

export default {
  props: {
    type: {
      type: String
    },
    id: {
      type: String
    }
  },
  components: {
  },
  setup (props) {
    const patient = ref({
      dob: '',
      gender: '',
      hn: ''
    })
    const visit = ref({
      // OPD
      accidentDate: '2022-09-01',
      furtherClaimId: '',
      accidentCauseOver45Days: '',
      // IPD
      admitDateTime: '',
      an: '',
      dscDateTime: '',
      expectedLos: '6',
      indicationForAdmission: '8',
      // Pre Authorization
      preauthReferClaimNo: '',
      preauthReferOcc: '',
      //
      additionalNote: '',
      alcoholRelated: false,
      chiefComplaint: 'Fall c Fracture left femur',
      comaScore: '15',
      dxFreeText: 'Fall c Fracture left femur',
      expectedDayOfRecovery: '45',
      height: '185',
      physicalExam: 'Fracture of neck of left femur',
      planOfTreatment: 'Surgery',
      pregnant: false,
      presentIllness: '30 mins Fall c Fracture left femur',
      previousTreatmentDate: '2022-09-01',
      previousTreatmentDetail: 'โรงพยาบาลศูนย์ศรีพัฒน์',
      privateCase: false,
      signSymptomsDate: '2022-09-01',
      underlyingCondition: 'DM',
      visitDateTime: '2022-09-05 09:00',
      vn: '',
      weight: '80'
    })
    const vitalSign = ref({
      diastolicBp: '80',
      heartRate: '80',
      oxygenSaturation: '100',
      painScore: '5',
      respiratoryRate: '20',
      systolicBp: '120',
      temperature: '38',
      vitalSignEntryDateTime: '2022-09-05 09:00'
    })
    const optionsDx = ref()
    const dx = ref({
      dxName: '',
      dxType: '',
      icd10: ''
    })
    const diagnosis = ref([{
      dxName: 'Fall on and from stairs and steps: at unspec place: during unspec activity',
      dxType: 'PP',
      icd10: 'W1099'
    },
    {
      dxName: 'Fracture of neck of femur, open',
      dxType: 'PP',
      icd10: 'S7201'
    },
    {
      dxName: 'Type 2 diabetes mellitus Without complications',
      dxType: 'CM',
      icd10: 'E119'
    }])
    const pcr = ref({
      icd9: '',
      procedureDate: '',
      procedureName: ''
    })
    const procedure = ref([{
      icd9: '1000',
      procedureDate: '2020-12-12',
      procedureName: 'Type 2 diabetes mellitus Without complications'
    }])
    const orderItem = ref({
      itemId: 'DF22',
      itemName: 'ค่าแพทย์ทำหัตถการ',
      localBillingCode: '01.02.02.00.00.00',
      localBillingName: '1.2.2 ค่าทำศัลยกรรมและหัตถการต่าง ๆ',
      itemAmount: '1',
      initial: '21000',
      discount: '0',
      netAmount: '21000'
    })
    const investigate = ref({
      investigationCode: 'P101A',
      investigationGroup: '',
      investigationName: 'Biopsy ชิ้นเนื้อความยาว <5 cm (HITECH)',
      investigationResult: '',
      resultDateTime: ''
    })
    const columnsInvestigation = [
      { name: 'investigationCode', require: true, label: 'รหัสอ้างอิงของการตรวจ', field: row => row.investigationCode, format: val => `${val}`, sortable: true, align: 'left' },
      { name: 'investigationGroup', label: 'ชื่อกลุ่มของการตรวจ', field: 'investigationGroup', sortable: true, align: 'left' },
      { name: 'investigationName', label: 'ชื่อของการตรวจ', field: 'investigationName', sortable: true, align: 'left' },
      { name: 'investigationResult', label: 'ผลของการตรวจ', field: 'investigationResult', sortable: true, align: 'left' },
      { name: 'resultDateTime', label: 'วันเวลาที่แสดงผลของการตรวจ', field: 'resultDateTime', sortable: true, align: 'center' }
    ]
    const investigation = ref([
      {
        investigationCode: 'P101A',
        investigationGroup: '',
        investigationName: 'Biopsy ชิ้นเนื้อความยาว <5 cm (HITECH)',
        investigationResult: '',
        resultDateTime: ''
      },
      {
        investigationCode: 'M704',
        investigationGroup: '',
        investigationName: 'Urease test by Pronto Dry',
        investigationResult: 'NEGATIVE',
        resultDateTime: ''
      },
      {
        investigationCode: 'C504A',
        investigationGroup: '',
        investigationName: 'TSH',
        investigationResult: '0.80',
        resultDateTime: '2022-09-07 08:39'
      },
      {
        investigationCode: 'C503A',
        investigationGroup: '',
        investigationName: 'FT4',
        investigationResult: '1.25',
        resultDateTime: '2022-09-07 08:39'
      },
      {
        investigationCode: 'C214A',
        investigationGroup: '',
        investigationName: 'Calcium',
        investigationResult: '9.3',
        resultDateTime: '2022-09-07 08:22'
      },
      {
        investigationCode: 'C203A',
        investigationGroup: '',
        investigationName: 'ALT(SGPT)',
        investigationResult: '13',
        resultDateTime: '2022-09-07 08:22'
      },
      {
        investigationCode: 'C201A',
        investigationGroup: 'ALP',
        investigationName: 'ALP',
        investigationResult: '74',
        resultDateTime: '2022-09-07 08:22'
      },
      {
        investigationCode: 'C304A',
        investigationGroup: '',
        investigationName: 'CO2',
        investigationResult: '28',
        resultDateTime: '2022-09-07 08:22'
      },
      {
        investigationCode: 'C303A',
        investigationGroup: '',
        investigationName: 'Cl',
        investigationResult: '105',
        resultDateTime: '2022-09-07 08:22'
      },
      {
        investigationCode: 'C302A',
        investigationGroup: '',
        investigationName: 'K',
        investigationResult: '3.8',
        resultDateTime: '2022-09-07 08:22'
      },
      {
        investigationCode: 'C301A',
        investigationGroup: '',
        investigationName: 'Na',
        investigationResult: '143',
        resultDateTime: '2022-09-07 08:22'
      },
      {
        investigationCode: 'C210B',
        investigationGroup: 'Creatinine & eGFR',
        investigationName: 'eGFR',
        investigationResult: '99',
        resultDateTime: '2022-09-07 08:22'
      },
      {
        investigationCode: 'C210A',
        investigationGroup: 'Creatinine & eGFR',
        investigationName: 'Creatinine',
        investigationResult: '0.63',
        resultDateTime: '2022-09-07 08:22'
      },
      {
        investigationCode: 'D704A',
        investigationGroup: '',
        investigationName: 'CA 125',
        investigationResult: '7.50',
        resultDateTime: '2022-09-07 08:39'
      },
      {
        investigationCode: 'D706A',
        investigationGroup: '',
        investigationName: 'CA19-9',
        investigationResult: '16.9',
        resultDateTime: '2022-09-07 08:39'
      },
      {
        investigationCode: 'C606A',
        investigationGroup: '',
        investigationName: 'Lipase',
        investigationResult: '116',
        resultDateTime: '2022-09-07 11:14'
      },
      {
        investigationCode: 'P101A',
        investigationGroup: '',
        investigationName: 'Biopsy ชิ้นเนื้อความยาว <5 cm (HITECH)',
        investigationResult: '',
        resultDateTime: ''
      },
      {
        investigationCode: 'P101A',
        investigationGroup: '',
        investigationName: 'Biopsy ชิ้นเนื้อความยาว <5 cm (HITECH)',
        investigationResult: '',
        resultDateTime: ''
      },
      {
        investigationCode: 'D702A',
        investigationGroup: '',
        investigationName: 'CEA',
        investigationResult: '1.4',
        resultDateTime: '2022-09-07 08:39'
      },
      {
        investigationCode: 'A1S',
        investigationGroup: 'CBC',
        investigationName: 'RDW',
        investigationResult: '12.0',
        resultDateTime: '2022-09-07 08:00'
      },
      {
        investigationCode: 'A1R',
        investigationGroup: 'CBC',
        investigationName: 'MCHC',
        investigationResult: '32.3',
        resultDateTime: '2022-09-07 08:00'
      },
      {
        investigationCode: 'A1Q',
        investigationGroup: 'CBC',
        investigationName: 'MCH',
        investigationResult: '28.7',
        resultDateTime: '2022-09-07 08:00'
      },
      {
        investigationCode: 'A1P',
        investigationGroup: 'CBC',
        investigationName: 'MCV',
        investigationResult: '88.7',
        resultDateTime: '2022-09-07 08:00'
      },
      {
        investigationCode: 'A1O',
        investigationGroup: 'CBC',
        investigationName: 'Platelets smear',
        investigationResult: '20-25',
        resultDateTime: '2022-09-07 08:00'
      },
      {
        investigationCode: 'A1N',
        investigationGroup: 'CBC',
        investigationName: 'Platelets count',
        investigationResult: '259000',
        resultDateTime: '2022-09-07 08:00'
      },
      {
        investigationCode: 'A1M',
        investigationGroup: 'CBC',
        investigationName: 'RBC Morphology',
        investigationResult: 'Normal',
        resultDateTime: '2022-09-07 08:00'
      },
      {
        investigationCode: 'A1L',
        investigationGroup: 'CBC',
        investigationName: 'Toxic granule',
        investigationResult: '-',
        resultDateTime: '2022-09-07 08:00'
      },
      {
        investigationCode: 'A1K',
        investigationGroup: 'CBC',
        investigationName: 'Blasts cell',
        investigationResult: '-',
        resultDateTime: '2022-09-07 08:00'
      },
      {
        investigationCode: 'A1J',
        investigationGroup: 'CBC',
        investigationName: 'Basophil',
        investigationResult: '1',
        resultDateTime: '2022-09-07 08:00'
      },
      {
        investigationCode: 'A1I',
        investigationGroup: 'CBC',
        investigationName: 'Eosinophil',
        investigationResult: '3',
        resultDateTime: '2022-09-07 08:00'
      },
      {
        investigationCode: 'A1H',
        investigationGroup: 'CBC',
        investigationName: 'Monocyte',
        investigationResult: '6',
        resultDateTime: '2022-09-07 08:00'
      },
      {
        investigationCode: 'A1G',
        investigationGroup: 'CBC',
        investigationName: 'Atyp. Lymphocyte',
        investigationResult: '-',
        resultDateTime: '2022-09-07 08:00'
      },
      {
        investigationCode: 'A1F',
        investigationGroup: 'CBC',
        investigationName: 'Lymphocyte',
        investigationResult: '44',
        resultDateTime: '2022-09-07 08:00'
      },
      {
        investigationCode: 'A1E',
        investigationGroup: 'CBC',
        investigationName: 'Band form',
        investigationResult: '-',
        resultDateTime: '2022-09-07 08:00'
      },
      {
        investigationCode: 'A1D',
        investigationGroup: 'CBC',
        investigationName: 'Neutrophil',
        investigationResult: '46',
        resultDateTime: '2022-09-07 08:00'
      },
      {
        investigationCode: 'A1C',
        investigationGroup: 'CBC',
        investigationName: 'WBC Count',
        investigationResult: '4170',
        resultDateTime: '2022-09-07 08:00'
      },
      {
        investigationCode: 'A1U',
        investigationGroup: 'CBC',
        investigationName: 'RBC Count',
        investigationResult: '4.50',
        resultDateTime: '2022-09-07 08:00'
      },
      {
        investigationCode: 'A1B',
        investigationGroup: 'CBC',
        investigationName: 'Hct',
        investigationResult: '39.9',
        resultDateTime: '2022-09-07 08:00'
      },
      {
        investigationCode: 'A1A',
        investigationGroup: 'CBC',
        investigationName: 'Hb',
        investigationResult: '12.9',
        resultDateTime: '2022-09-07 08:00'
      }
    ])
    const dr = ref({
      doctorLicense: '0000039159',
      doctorRole: 'OWNER',
      doctorFirstName: '',
      doctorLastName: ''
    })
    const doctor = ref([
      {
        doctorLicense: '0000039159',
        doctorRole: 'OWNER',
        doctorFirstName: 'สิทธิชัย',
        doctorLastName: 'หลวงแสง'
      }
    ])
    const billingItem = ref({
      billingDiscount: '25.00',
      billingInitial: '200.00',
      billingNetAmount: '175.00',
      localBillingCode: '1.1.1(3)',
      localBillingName: 'ค่ายาผู้ป่วยนอก',
      payorBillingCode: '1.1.1(3)',
      simbBillingCode: '1.1.1(3)'
    })
    const crn = ref({
      concurrentDateTime: '',
      concurrentDetail: ''
    })
    const concurrentNote = ref([
      {
        concurrentDateTime: '2022-10-22 22:00',
        concurrentDetail: 'นอนอยู่เฉยๆ'
      },
      {
        concurrentDateTime: '2022-10-22 22:54',
        concurrentDetail: 'นอนแต่ไม่เฉย'
      }
    ])
    const columnsConcurrentNote = [
      { name: 'concurrentDateTime', require: true, label: 'วันเวลาที่อัพเดทข้อมูล', field: 'concurrentDateTime', format: val => `${val}`, sortable: true, align: 'left' },
      { name: 'concurrentDetail', label: 'รายละเอียดของข้อมูล', field: 'concurrentDetail', sortable: true, align: 'left' }
    ]
    const anesType = ref([])
    const bl = ref({
      localBillingCode: '01.01.01.03.00.00',
      simbBillingCode: '1.1.1(3)',
      payorBillingCode: '1.1.1(3)',
      billingInitial: '896.4',
      billingDiscount: '0',
      billingNetAmount: '896.4',
      localBillingName: '1.1.1(3) ยาผู้ป่วยนอก'
    })
    const columnsBilling = ref([
      { name: 'localBillingCode', require: true, label: 'รหัสค่าใช้จ่าย', field: 'localBillingCode', format: val => `${val}`, sortable: true, align: 'left' },
      { name: 'simbBillingCode', label: 'รหัสกรมบัญชีกลาง', field: 'simbBillingCode', sortable: true, align: 'left' },
      { name: 'payorBillingCode', require: true, label: 'วันเวลาที่อัพเดทข้อมูล', field: 'payorBillingCode', format: val => `${val}`, sortable: true, align: 'left' },
      { name: 'billingInitial', label: 'จำนวนเงินก่อนหักส่วนลด', field: 'billingInitial', sortable: true, align: 'left' },
      { name: 'billingDiscount', label: 'จำนวนเงินที่โรงพยาบาลให้ส่วนลด', field: 'billingDiscount', sortable: true, align: 'left' },
      { name: 'billingNetAmount', label: 'จำนวนเงินหลังจากหักส่วนลดแล้ว', field: 'billingNetAmount', sortable: true, align: 'left' },
      { name: 'localBillingName', label: 'ชื่อค่าใช้จ่าย', field: 'localBillingName', sortable: true, align: 'left' }
    ])
    const billing = ref([
      {
        localBillingCode: '01.01.01.03.00.00',
        simbBillingCode: '1.1.1(3)',
        payorBillingCode: '1.1.1(3)',
        billingInitial: '896.4',
        billingDiscount: '0',
        billingNetAmount: '896.4',
        localBillingName: '1.1.1(3) ยาผู้ป่วยนอก'
      },
      {
        localBillingCode: '01.01.01.04.00.00',
        simbBillingCode: '1.1.1(4)',
        payorBillingCode: '1.1.1(4)',
        billingInitial: '101',
        billingDiscount: '0',
        billingNetAmount: '101',
        localBillingName: '1.1.1(4) น้ำเกลือ/สารละลาย'
      },
      {
        localBillingCode: '01.01.01.05.00.00',
        simbBillingCode: '1.1.1(5)',
        payorBillingCode: '1.1.1(5)',
        billingInitial: '500',
        billingDiscount: '0',
        billingNetAmount: '500',
        localBillingName: '1.1.1(5) ออกซิเจน'
      },
      {
        localBillingCode: '01.01.02.01.00.00',
        simbBillingCode: '1.1.2(1)',
        payorBillingCode: '1.1.2(1)',
        billingInitial: '5250',
        billingDiscount: '0',
        billingNetAmount: '5250',
        localBillingName: '1.1.2(1) เวชภัณฑ์ 1'
      },
      {
        localBillingCode: '01.01.04.01.00.00',
        simbBillingCode: '1.1.4(1)',
        payorBillingCode: '1.1.4(1)',
        billingInitial: '9060',
        billingDiscount: '906',
        billingNetAmount: '8154',
        localBillingName: '1.1.4(1) ค่าตรวจ LAB'
      },
      {
        localBillingCode: '01.01.04.02.00.00',
        simbBillingCode: '1.1.4(2)',
        payorBillingCode: '1.1.4(2)',
        billingInitial: '6750',
        billingDiscount: '675',
        billingNetAmount: '6075',
        localBillingName: '1.1.4(2) ค่าตรวจชิ้นเนื้อ'
      },
      {
        localBillingCode: '01.01.05.01.00.00',
        simbBillingCode: '1.1.5(1)',
        payorBillingCode: '1.1.5(1)',
        billingInitial: '410',
        billingDiscount: '41',
        billingNetAmount: '369',
        localBillingName: '1.1.5(1) ค่าเอกซเรย์'
      },
      {
        localBillingCode: '01.01.05.02.03.00',
        simbBillingCode: '1.1.5(2.3)',
        payorBillingCode: '1.1.5(2.3)',
        billingInitial: '3960',
        billingDiscount: '396',
        billingNetAmount: '3564',
        localBillingName: '1.1.5(2.3) อัลตราซาวน์'
      },
      {
        localBillingCode: '01.01.06.03.00.00',
        simbBillingCode: '1.1.6',
        payorBillingCode: '1.1.6',
        billingInitial: '5200',
        billingDiscount: '0',
        billingNetAmount: '5200',
        localBillingName: '1.1.6 ส่องกล้องตรวจภายใน Colonoscopy'
      },
      {
        localBillingCode: '01.01.06.04.00.00',
        simbBillingCode: '1.1.6',
        payorBillingCode: '1.1.6',
        billingInitial: '4600',
        billingDiscount: '0',
        billingNetAmount: '4600',
        localBillingName: '1.1.6 ส่องกล้องตรวจภายใน Gastroscope'
      },
      {
        localBillingCode: '01.01.07.30.00.00',
        simbBillingCode: '1.1.7',
        payorBillingCode: '1.1.7',
        billingInitial: '1300',
        billingDiscount: '0',
        billingNetAmount: '1300',
        localBillingName: '1.1.7 ค่าวัสดุทางการแพทย์พิเศษ-Scope'
      },
      {
        localBillingCode: '01.01.08.02.00.00',
        simbBillingCode: '1.1.8',
        payorBillingCode: '1.1.8',
        billingInitial: '2000',
        billingDiscount: '0',
        billingNetAmount: '2000',
        localBillingName: '1.1.8 ค่าห้อง Scope'
      },
      {
        localBillingCode: '01.01.12.00.00.00',
        simbBillingCode: '1.1.12',
        payorBillingCode: '1.1.12',
        billingInitial: '50',
        billingDiscount: '0',
        billingNetAmount: '50',
        localBillingName: '1.1.12 ค่าบริการทางการพยาบาล'
      },
      {
        localBillingCode: '01.01.14.02.01.00',
        simbBillingCode: '1.1.14(2)',
        payorBillingCode: '1.1.14(2)',
        billingInitial: '250',
        billingDiscount: '0',
        billingNetAmount: '250',
        localBillingName: '1.1.14(2) ค่าบริการโรงพยาบาลของผู้ป่วยนอก'
      },
      {
        localBillingCode: '01.02.01.05.00.00',
        simbBillingCode: '1.2.1(5)',
        payorBillingCode: '1.2.1(5)',
        billingInitial: '600',
        billingDiscount: '0',
        billingNetAmount: '600',
        localBillingName: '1.2.1(5) ค่ารักษาทั่วไปของแพทย์'
      },
      {
        localBillingCode: '01.02.01.11.00.00',
        simbBillingCode: '1.2.1(11)',
        payorBillingCode: '1.2.1(11)',
        billingInitial: '1660',
        billingDiscount: '0',
        billingNetAmount: '1660',
        localBillingName: '1.2.1(11) ค่าแพทย์อ่านผลเอกซเรย์'
      },
      {
        localBillingCode: '01.02.02.00.00.00',
        simbBillingCode: '1.2.2',
        payorBillingCode: '1.2.2',
        billingInitial: '21000',
        billingDiscount: '0',
        billingNetAmount: '21000',
        localBillingName: '1.2.2 ค่าทำศัลยกรรมและหัตถการต่าง ๆ'
      }
    ])
    const totalBillAmount = ref('2000')

    function addDx () {
      if (dx.value.dxName !== '' || (dx.value.dxType !== '' || dx.value.dxType !== null)) {
        diagnosis.value.push({
          icd10: dx.value.icd10,
          dxName: dx.value.dxName,
          dxType: dx.value.dxType
        })
        dx.value = {
          icd10: '',
          dxName: '',
          dxType: ''
        }
        // treatmentHistory.treatmentHistoryFrom.push(val)
      }
    }
    function deleteDx (index) {
      diagnosis.value.splice(index, 1)
    }
    function getDxList (val) {
      api.post('http://192.168.100.147/api/ICD/ICD10Claim', { LimitKey: 5, KeyWord: val }).then(response => {
        if (response.data !== []) {
          optionsDx.value = response.data
        }
      })
    }
    const initDx = getDxList('')
    // const dxTXN = ref(false)
    // const treatmentHistory = ref({
    //   type: 'เจ็บป่วย',
    //   causeStay: 'เจ็บป่วย',
    //   expectedAdmissionDate: '21/11/2022',
    //   expectedTotalLengthStay: 5,
    //   expectedICU: 0,
    //   evOrCont: []
    // })
    // const treatmentDetail = ref({
    //   cc: 'พ่อมึงตาย',
    //   pi: 'ไอควาย',
    //   pe: 'เอิ๊ก',
    //   provisionalDx: '',
    //   ud: '',
    //   signSymptomDate: '',
    //   consultDate: ''
    // })
    // const doctorRoles = ref([
    //   { label: 'แพทย์เจ้าของไข้', value: 'OWNER' },
    //   { label: 'แพทย์ที่ Admit', value: 'ADM' },
    //   { label: 'แพทย์ที่ Discharge', value: 'DSC' },
    //   { label: 'แพทย์ Consult', value: 'CONSULT' },
    //   { label: 'แพทย์ผ่าตัด', value: 'SURGEON' },
    //   { label: 'แพทย์ช่วยผ่าตัด', value: 'ASST' },
    //   { label: 'แพทย์ดมยา', value: 'ANES' },
    //   { label: 'แพทย์อื่นๆ', value: 'OTHER' }
    // ])
    // const roles = ref([
    //   'ADM แพทย์รับตัว',
    //   'OWNER แพทย์เจ้าของไข้',
    //   'CONSULT แพทย์ที่ปรึกษา',
    //   'DSC แพทย์จำหน่าย',
    //   'SURGEON แพทย์ผ่าตัด',
    //   'ASST แพทย์ช่วยผ่าตัด',
    //   'ANES แพทย์ดมยา',
    //   'MEDCER แพทย์ออกใบรับรองแพทย์/ใบเคลม'
    // ])
    // const treatmentFrom = ref({
    //   hospital: '',
    //   date: ''
    // })
    // const treatmentHistoryFrom = ref([])
    // function onAddTreatmentFrom () {
    //   if (treatmentFrom.value.hospital !== '' || treatmentFrom.value.date !== '') {
    //     treatmentHistoryFrom.value.push({
    //       hospital: treatmentFrom.value.hospital,
    //       date: treatmentFrom.value.date
    //     })
    //     treatmentFrom.value = {
    //       hospital: '',
    //       date: ''
    //     }
    //     // treatmentHistory.treatmentHistoryFrom.push(val)
    //   }
    // }
    // function onRemoveTreatmentFrom (index) {
    //   treatmentHistoryFrom.value.splice(index, 1)
    // }

    // const otherFactor = ref({
    //   no: ref(false),
    //   other: ref(false),
    //   otherNote: ref(''),
    //   factors: ref([])
    // })
    // function onClickNo () {
    //   otherFactor.value.factors = []
    //   otherFactor.value.other = false
    // }

    // const treatmentBy = ref({
    //   physicianLicenseNo: '',
    //   physicianName: '',
    //   role: 'OWNER แพทย์เจ้าของไข้'
    // })
    // const treatmentProviders = ref([])
    // function onAddTreatmentBy () {
    //   if (treatmentBy.value.physicianLicenseNo !== '' || treatmentBy.value.physicianName !== '') {
    //     treatmentProviders.value.push({
    //       physicianLicenseNo: treatmentBy.value.physicianLicenseNo,
    //       physicianName: treatmentBy.value.physicianName,
    //       role: treatmentBy.value.role
    //     })
    //     treatmentBy.value = {
    //       physicianLicenseNo: '',
    //       physicianName: '',
    //       role: 'OWNER แพทย์เจ้าของไข้'
    //     }
    //     // treatmentHistory.treatmentHistoryFrom.push(val)
    //   }
    // }
    // function onRemoveTreatmentBy (index) {
    //   treatmentProviders.value.splice(index, 1)
    // }
    // const indication = ref('')
    // const indicationNote = ref('')
    // const indications = ref([
    //   'Unstable Basic Life Function',
    //   'Unstable Major Organ Function',
    //   'High Risk Condition',
    //   'Sepsis or rule out sepsis',
    //   'Require Full Nursing Care Facility',
    //   'Require Inpatient Surgery',
    //   'Patient or Relatives Request',
    //   'Other, Please Specify'
    // ])
    // const indicationForAdmission = ref([
    //   { label: 'การทำงานพื้นฐานของร่างกายผิดปกติ', value: 1 },
    //   { label: 'การทำงานของอวัยวะหลักผิดปกติ', value: 2 },
    //   { label: 'มีภาวะความเสี่ยงสูง', value: 3 },
    //   { label: 'มีภาวะติดเชื้อ หรือ สงสัยว่ามีภาวะติดเชื้อ', value: 4 },
    //   { label: 'ต้องการการรักษาพยาบาลอย่างเต็มรูปแบบ', value: 5 },
    //   { label: 'เข้ารับการผ่าตัด', value: 6 },
    //   { label: 'เป็นความประสงค์ของผู้ป่วย หรือ ญาติ', value: 7 },
    //   { label: 'อื่น ๆ', value: 8 },
    //   { label: 'ไม่สามารถดูแลรักษาที่บ้านได้', value: 9 },
    //   { label: 'ระดับของความรู้สึกตัวมีการเปลี่ยนแปลง', value: 10 },
    //   { label: 'ต้องได้รับการพ่นยาขยายหลอดลม', value: 11 },
    //   { label: 'มีภาวะขาดน้ำ ระดับปานกลาง หรือ ระดับรุนแรง', value: 12 },
    //   { label: 'ระดับเกลือแร่ในร่างกายไม่สมดุล', value: 13 },
    //   { label: 'การไหลเวียนของเลือดผิดปกติ', value: 14 },
    //   { label: 'ไข้หวัดใหญ่ที่มีโรคเรื้อรัง', value: 15 },
    //   { label: 'ไข้หวัดใหญ่ที่มีภาวะแทรกซ้อน', value: 16 },
    //   { label: 'ไข้หวัดใหญ่ที่มีภูมิคุ้มกันบกพร่อง', value: 17 },
    //   { label: 'ต้องได้รับยาฆ่าเชื้อทางหลอดเลือด', value: 18 },
    //   { label: 'ต้องสังเกตอาการทางระบบประสาท', value: 19 },
    //   { label: 'ปวดอย่างรุนแรง ต้องใช้ยาแก้ปวดทางหลอดเลือดอย่างต่อเนื่อง', value: 20 }
    // ])

    // const allDiagnosis = ref([])
    // const optionsDx = ref(diagnosisOptions)
    // const dxTypes = ref([
    //   { label: 'โรคหลักที่ให้การรักษา', value: 'PP' },
    //   { label: 'โรคหรือภาวะแทรกซ้อน', value: 'CP' },
    //   { label: 'โรคร่วม', value: 'CM' },
    //   { label: 'อื่นๆ', value: 'OT' }
    // ])
    // const diagnosisTypes = ref([
    //   'Principal Diagnosis การวินิจฉัยหลัก',
    //   'Co-morbidity การวินิจฉัยร่วม',
    //   'Complication โรคแทรก',
    //   'Other Diagnosis โรคอื่นๆ',
    //   'External Cause (s) of Injury สาเหตุภายนอกของการบาดเจ็บ'
    // ])
    // function getDiagnosisByTXN (val) {
    //   api.get(`http://192.168.100.152:94/api/Insurance_/ICD10ByTXN/${val}`).then(response => {
    //     if (response.data !== []) {
    //       for (const iterator of response.data) {
    //         allDiagnosis.value.push({
    //           icd10: `${iterator.diagnosisCode} ${iterator.diagnosisDesc}`,
    //           type: iterator.diagnosisType
    //         })
    //         dxTXN.value = true
    //       }
    //     } else {
    //       dxTXN.value = false
    //     }
    //   })
    // }
    // function getDiagnosis (val) {
    //   api.post('http://192.168.100.147/api/ICD/ICD10Claim', { LimitKey: 5, KeyWord: val }).then(response => {
    //     if (response.data !== []) {
    //       optionsDx.value = response.data
    //     }
    //   })
    // }
    // function onAddDiagnosis () {
    //   if (diagnosis.value.icd10 !== '' || diagnosis.value.type !== '') {
    //     allDiagnosis.value.push({
    //       icd10: diagnosis.value.icd10,
    //       type: diagnosis.value.type
    //     })
    //     diagnosis.value = {
    //       icd10: '',
    //       type: ''
    //     }
    //     // treatmentHistory.treatmentHistoryFrom.push(val)
    //   }
    // }
    // function onRemoveDiagnosis (index) {
    //   allDiagnosis.value.splice(index, 1)
    // }

    // function onAddProcedure () {
    //   if (procedure.value.icd9 !== '' || procedure.value.date !== '') {
    //     allProcedure.value.push({
    //       icd9: treatmentBy.value.icd9,
    //       date: treatmentBy.value.date
    //     })
    //     diagnosis.value = {
    //       icd9: '',
    //       date: ''
    //     }
    //     // treatmentHistory.treatmentHistoryFrom.push(val)
    //   }
    // }
    // function onRemoveProcedure (index) {
    //   allProcedure.value.splice(index, 1)
    // }

    // const anesthesia = ref('')
    // const anesTypes = ref(
    //   { label: 'การฉีดยาชาเฉพาะที่', value: 'L' },
    //   { label: 'การดมยาสลบ', value: 'G' },
    //   { label: 'การฉีดยาชาเข้าช่องไขสันหลัง', value: 'S' },
    //   { label: 'การฉีดยาชาเข้าเส้นประสาท', value: 'B' }
    // )
    // const anesthesias = ref([
    //   'Local Anesthesia',
    //   'General Anesthesia',
    //   'Spinal Anesthesia',
    //   'Brachial Block'
    // ])
    // function getClaimDetail (val) {
    //   api.get(`http://192.168.100.152:94/api/AIA_Insurance/claimDetailByID/${val}`).then(response => {
    //     if (response.data !== []) {
    //       treatmentDetail.value = {
    //         cc: response.data.claim_Detail.chiefComplaint,
    //         pi: response.data.claim_Detail.presentIllness,
    //         pe: response.data.claim_Detail.physicalExamination,
    //         provisionalDx: response.data.claim_Detail.provisionaldianosis,
    //         ud: response.data.claim_Detail.underlyingDesease,
    //         signSymptomDate: response.data.claim_Detail.signSymptomDate,
    //         consultDate: response.data.claim_Detail.consultationDate
    //       }
    //       for (const iterator of response.data.claim_ICD10s) {
    //         allDiagnosis.value.push({
    //           icd10: `${iterator.diagnosisCode} ${iterator.icdCdesc}`,
    //           type: iterator.diagnosisType
    //         })
    //         dxTXN.value = true
    //       }
    //       for (const iterator of response.data.claim_Hospitals) {
    //         treatmentHistoryFrom.value.push({
    //           hospital: iterator.hospitalName,
    //           date: dateDisplay(iterator.treatmentDate)
    //         })
    //         treatmentHistory.value.evOrCont.push('ever')
    //       }
    //       for (const iterator of response.data.claim_TreatmentMembers) {
    //         treatmentProviders.value.push({
    //           physicianLicenseNo: iterator.physicianLicenseNo,
    //           physicianName: iterator.careName,
    //           role: iterator.roleGroup
    //         })
    //       }
    //       for (const iterator of response.data.claim_ExternalFactors) {
    //         if (iterator.externalFactor === 'อื่นๆ') {
    //           otherFactor.value.other = true
    //           otherFactor.value.otherNote = iterator.externalFactorNote
    //         }
    //         otherFactor.value.factors.push(iterator.externalFactor)
    //       }
    //       vitalSigns.value = {
    //         temp: response.data.claim_VitalsSign.temp,
    //         pulse: response.data.claim_VitalsSign.pulse,
    //         systolic: response.data.claim_VitalsSign.sbp,
    //         diastolic: response.data.claim_VitalsSign.dbp,
    //         rr: response.data.claim_VitalsSign.resproatoryRate,
    //         painScore: response.data.claim_VitalsSign.painScore,
    //         comaScore: response.data.claim_VitalsSign.comaScore,
    //         weight: response.data.claim_VitalsSign.weight,
    //         height: response.data.claim_VitalsSign.height,
    //         bmi: response.data.claim_VitalsSign.bmi
    //       }
    //       indication.value = response.data.claim_Detail.indicationGrop
    //       if (indication.value === 'Other, Please Specify') {
    //         indicationNote.value = response.data.claim_Detail.indicationNote
    //       }
    //     } else {
    //       dxTXN.value = false
    //     }
    //   })
    // }
    // function dateDisplay (date) {
    //   const dateArr = date.substring(0, 10).split('-')
    // const [yyyy, mm, dd] = dateArr
    //   return `${dd}/${mm}/${yyyy}`
    // }

    // const initDx = getDiagnosis('A')
    // const initClaimDetail = getClaimDetail(props.id)
    // const initDxTXN = getDiagnosisByTXN(55596528)
    return {
      patient,
      visit,
      vitalSign,
      dx,
      diagnosis,
      pcr,
      procedure,
      orderItem,
      columnsInvestigation,
      investigate,
      investigation,
      dr,
      doctor,
      billingItem,

      crn,
      concurrentNote,
      columnsConcurrentNote,
      anesType,
      bl,
      billing,
      totalBillAmount,
      columnsBilling,
      optionsDx,
      addDx,
      deleteDx,
      getDxList,
      initDx,
      filterFn (val, update, abort) {
        if (val.length < 2) {
          abort()
          return
        }
        update(() => {
          getDxList(val)
          const needle = val.toLowerCase()
          optionsDx.value = optionsDx.value.filter(v => v.toLowerCase().indexOf(needle) > -1)
        })
      }
    }
  }
}
</script>
