<template>
  <div class="q-pa-md q-gutter-md">
    <q-card v-if="type === 'pa'">
      <!--   -->
      <q-card-section>
        <div class="row q-col-gutter-md items-start">
          <div class="col-12 col-md-4 col-lg-2" >
            <q-input outlined  dense label="Request Type" readonly v-model="requestDetail.requestType"/>
          </div>
          <div class="col-12 col-md-4 col-lg-2">
            <q-input outlined  dense label="วันที่รับข้อมูล วว/ดด/ค.ศ." mask="##/##/####" readonly v-model="requestDetail.dateReceive" />
          </div>
          <div class="col-12 col-md-4 col-lg-2">
            <q-input outlined  dense label="Pre Authorize Ref No." readonly v-model="requestDetail.preAuthorizeRefNo" />
          </div>
          <div class="col-12 col-md-4 col-lg-2">
            <q-input outlined  dense label="หมายเลขอ้างอิง" readonly v-model="requestDetail.refNo" />
          </div>
          <div class="col-12 col-md-4 col-lg-2">
            <q-input outlined  dense label="กรมธรรม์เลขที่" readonly v-model="requestDetail.policyNo" />
          </div>
          <div class="col-12 col-md-4 col-lg-2">
            <q-input outlined  dense label="เลขที่ใบรับรอง" readonly v-model="requestDetail.certificateNo" />
          </div>
          <div class="col-12 col-md-4 col-lg-2">
            <q-input outlined  dense label="เลขที่สมาชิก" readonly v-model="requestDetail.customerID" />
          </div>
          <div class="col-12 col-md-4 col-lg-2">
            <q-input outlined  dense label="เลขบัตรประชาชน / เลขพาสปอร์ต" mask="card" readonly v-model="requestDetail.idPassport" />
          </div>
          <div class="col-12 col-md-4 col-lg-2">
            <q-input outlined  dense label="ชื่อ - สกุล" readonly v-model="requestDetail.name" />
          </div>
          <div class="col-12 col-md-4 col-lg-2">
            <q-input outlined  dense label="ชื่อผู้เรียกร้อง" readonly v-model="requestDetail.claimName" />
          </div>
          <div class="col-12 col-md-4 col-lg-2">
            <q-input outlined  dense label="ความสัมพันธ์กับสมาชิก" readonly v-model="requestDetail.relate" />
          </div>
          <div class="col-12 col-md-4 col-lg-2">
            <q-input outlined  dense label="วันเกิด วว/ดด/ค.ศ." mask="##/##/####" readonly v-model="requestDetail.birthDate" />
          </div>
          <div class="col-12 col-md-4 col-lg-2">
            <q-input outlined  dense label="อายุ" readonly v-model="requestDetail.age" />
          </div>
          <div class="col-12 col-md-4 col-lg-2">
            <q-input outlined  dense label="เพศ" readonly v-model="requestDetail.gender" />
          </div>
          <div class="col-12 col-md-4 col-lg-2">
            <q-input outlined  dense label="ชื่อผู้ถือกรมธรรม์" readonly v-model="requestDetail.policyHolderName" />
          </div>
          <div class="col-12 col-md-4 col-lg-2">
            <q-input outlined  dense label="HN" v-model="requestDetail.hn" />
          </div>
          <div class="col-12 col-md-4 col-lg-2">
            <q-input outlined  dense label="AN" v-model="requestDetail.an" />
          </div>
        </div>
      </q-card-section>
    </q-card>
    <q-card v-if="type === 'adm'">
      <q-card-section>
        <div class="row q-col-gutter-md items-start">
          <div class="col-12 col-md-4 col-lg-2" >
            <q-input outlined  dense label="Request Type" readonly v-model="requestDetail.requestType"/>
          </div>
          <div class="col-12 col-md-4 col-lg-2">
            <q-input outlined  dense label="วันที่รับข้อมูล วว/ดด/ค.ศ." mask="##/##/####" readonly v-model="requestDetail.dateReceive" />
          </div>
          <div class="col-12 col-md-4 col-lg-2">
            <q-input outlined  dense label="หมายเลขอ้างอิง" readonly v-model="requestDetail.refNo" />
          </div>
          <div class="col-12 col-md-4 col-lg-2">
            <q-input outlined  dense label="กรมธรรม์เลขที่" readonly v-model="requestDetail.policyNo" />
          </div>
          <div class="col-12 col-md-4 col-lg-2">
            <q-input outlined  dense label="เลขบัตรประชาชน / เลขพาสปอร์ต" mask="card" readonly v-model="requestDetail.idPassport" />
          </div>
          <div class="col-12 col-md-4 col-lg-2">
            <q-input outlined  dense label="ชื่อ - สกุล" readonly v-model="requestDetail.name" />
          </div>
          <div class="col-12 col-md-4 col-lg-2">
            <q-input outlined  dense label="ชื่อผู้เรียกร้อง" readonly v-model="requestDetail.claimName" />
          </div>
          <div class="col-12 col-md-4 col-lg-2">
            <q-input outlined  dense label="ความสัมพันธ์กับสมาชิก" readonly v-model="requestDetail.relate" />
          </div>
          <div class="col-12 col-md-4 col-lg-2">
            <q-input outlined  dense label="วันเกิด วว/ดด/ค.ศ." mask="##/##/####" readonly v-model="requestDetail.birthDate" />
          </div>
          <div class="col-12 col-md-4 col-lg-2">
            <q-input outlined  dense label="อายุ" readonly v-model="requestDetail.age" />
          </div>
          <div class="col-12 col-md-4 col-lg-2">
            <q-input outlined  dense label="เพศ" readonly v-model="requestDetail.gender" />
          </div>
          <div class="col-12 col-md-4 col-lg-2">
            <q-input outlined  dense label="ชื่อผู้ถือกรมธรรม์" readonly v-model="requestDetail.policyHolderName" />
          </div>
        </div>
      </q-card-section>
    </q-card>
    <q-card v-if="type === 'dc'">
      <q-card-section>
        <div class="row q-col-gutter-md items-start">
          <div class="col-12 col-md-4 col-lg-2">
            <q-input outlined  dense label="เลขบัตรประชาชน / เลขพาสปอร์ต" mask="card" readonly v-model="requestDetail.idPassport" />
          </div>
          <div class="col-12 col-md-4 col-lg-2">
            <q-input outlined  dense label="ชื่อ - สกุล" readonly v-model="requestDetail.name" />
          </div>
          <div class="col-12 col-md-4 col-lg-2">
            <q-input outlined  dense label="วันเกิด" mask="##/##/####" readonly v-model="requestDetail.birthDate" />
          </div>
          <div class="col-12 col-md-4 col-lg-2">
            <q-input outlined  dense label="อายุ" readonly v-model="requestDetail.age" />
          </div>
          <div class="col-12 col-md-4 col-lg-2">
            <q-input outlined  dense label="เพศ" readonly v-model="requestDetail.gender" />
          </div>
          <div class="col-12 col-md-4 col-lg-2">
            <q-input outlined  dense label="Customer ID" readonly v-model="requestDetail.gender" />
          </div>
          <div class="col-12 col-md-4 col-lg-2">
            <q-input outlined  dense label="กรมธรรม์เลขที่" readonly v-model="requestDetail.policyNo" />
          </div>

        </div>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import { ref } from 'vue'
import { api } from 'boot/axios'

export default {
  props: {
    type: {
      type: String
    },
    id: {
      type: String
    }
  },
  setup (props) {
    const requestDetail = ref({
      requestType: '',
      dateReceive: '',
      preAuthorizeRefNo: '',
      refNo: '',
      policyNo: '',
      certificateNo: '',
      customerID: '',
      idPassport: '',
      name: '',
      claimName: '',
      relate: '',
      birthDate: '',
      age: '',
      gender: '',
      policyHolderName: '',
      hn: '',
      an: ''
    })
    function getClaimInfo (val) {
      api.get(`http://192.168.100.152:94/api/AIA_Insurance/claimInfoByID/${val}`).then(response => {
        if (response.data !== {}) {
          requestDetail.value = {
            dateReceive: response.data.dateRequest,
            preAuthorizeRefNo: response.data.preAuthRefID,
            refNo: response.data.refID,
            policyNo: response.data.insuranceNumber,
            certificateNo: response.data.certificateNumber,
            customerID: response.data.memberNumber,
            idPassport: response.data.idCard,
            name: response.data.customerName,
            claimName: response.data.claimRequestName,
            relate: response.data.requestRelation,
            birthDate: response.data.born,
            age: response.data.age,
            gender: response.data.sex,
            policyHolderName: '',
            hn: response.data.hn,
            an: response.data.an
          }
        }
        switch (props.type) {
          case 'adm':
            requestDetail.value.requestType = 'Admission'
            break
          case 'dc':
            requestDetail.value.requestType = 'Discharge'
            break
          case 'pa':
            requestDetail.value.requestType = 'Pre Authorization'
            break
          default:
            requestDetail.value.requestType = 'Authenticate'
        }
      })
    }
    // function dateDisplay (date) {
    //   const dateArr = date.substring(0, 10).split('-')
    //   const [yyyy, mm, dd] = dateArr
    //   return `${dd}${mm}${yyyy}`
    // }
    const initClaimInfo = getClaimInfo(props.id)
    return {
      getClaimInfo,
      initClaimInfo,
      requestDetail
      // dateDisplay
    }
  }
}
</script>

<style>

</style>'
