<template>
  <q-page class="q-pl-md q-gutter-md">
    <div class="row q-col-gutter-md">
      <div class="col-12">
        <q-expansion-item
          class="shadow-2 overflow-hidden"
          style="border-radius: 10px"
          expand-separator
          label="Billing"
          default-opened
        >
          <q-card>
            <q-card-section>
              <div class="row q-col-gutter-md">
                <div class="col-12">
                  <q-input outlined dense label="จำนวนค่ารักษาพยาบาลทั้งหมดที่โรงพยาบาลเรียกร้องกับบริษัทประกัน" v-model="totalBillAmount" />
                </div>
                <div class="col-12">
                  <q-table
                    dense
                    flat
                    :rows="billing"
                    :columns="columnsBilling"
                    row-key="name"
                  />
                </div>
              </div>
            </q-card-section>
          </q-card>
        </q-expansion-item>
      </div>
    </div>
  </q-page>
</template>

<script>
import { ref } from 'vue'

export default {
  props: {
    type: {
      type: String
    },
    id: {
      type: String
    }
  },
  setup (props) {
    const bl = ref({
      localBillingCode: '01.01.01.03.00.00',
      simbBillingCode: '1.1.1(3)',
      payorBillingCode: '1.1.1(3)',
      billingInitial: '896.4',
      billingDiscount: '0',
      billingNetAmount: '896.4',
      localBillingName: '1.1.1(3) ยาผู้ป่วยนอก'
    })
    const columnsBilling = ref([
      { name: 'localBillingCode', require: true, label: 'รหัสค่าใช้จ่าย', field: 'localBillingCode', format: val => `${val}`, sortable: true, align: 'left' },
      { name: 'simbBillingCode', label: 'รหัสกรมบัญชีกลาง', field: 'simbBillingCode', sortable: true, align: 'left' },
      { name: 'payorBillingCode', require: true, label: 'วันเวลาที่อัพเดทข้อมูล', field: 'payorBillingCode', format: val => `${val}`, sortable: true, align: 'left' },
      { name: 'billingInitial', label: 'จำนวนเงินก่อนหักส่วนลด', field: 'billingInitial', sortable: true, align: 'left' },
      { name: 'billingDiscount', label: 'จำนวนเงินที่โรงพยาบาลให้ส่วนลด', field: 'billingDiscount', sortable: true, align: 'left' },
      { name: 'billingNetAmount', label: 'จำนวนเงินหลังจากหักส่วนลดแล้ว', field: 'billingNetAmount', sortable: true, align: 'left' },
      { name: 'localBillingName', label: 'ชื่อค่าใช้จ่าย', field: 'localBillingName', sortable: true, align: 'left' }
    ])
    const billing = ref([
      {
        localBillingCode: '01.01.01.03.00.00',
        simbBillingCode: '1.1.1(3)',
        payorBillingCode: '1.1.1(3)',
        billingInitial: '896.4',
        billingDiscount: '0',
        billingNetAmount: '896.4',
        localBillingName: '1.1.1(3) ยาผู้ป่วยนอก'
      },
      {
        localBillingCode: '01.01.01.04.00.00',
        simbBillingCode: '1.1.1(4)',
        payorBillingCode: '1.1.1(4)',
        billingInitial: '101',
        billingDiscount: '0',
        billingNetAmount: '101',
        localBillingName: '1.1.1(4) น้ำเกลือ/สารละลาย'
      },
      {
        localBillingCode: '01.01.01.05.00.00',
        simbBillingCode: '1.1.1(5)',
        payorBillingCode: '1.1.1(5)',
        billingInitial: '500',
        billingDiscount: '0',
        billingNetAmount: '500',
        localBillingName: '1.1.1(5) ออกซิเจน'
      },
      {
        localBillingCode: '01.01.02.01.00.00',
        simbBillingCode: '1.1.2(1)',
        payorBillingCode: '1.1.2(1)',
        billingInitial: '5250',
        billingDiscount: '0',
        billingNetAmount: '5250',
        localBillingName: '1.1.2(1) เวชภัณฑ์ 1'
      },
      {
        localBillingCode: '01.01.04.01.00.00',
        simbBillingCode: '1.1.4(1)',
        payorBillingCode: '1.1.4(1)',
        billingInitial: '9060',
        billingDiscount: '906',
        billingNetAmount: '8154',
        localBillingName: '1.1.4(1) ค่าตรวจ LAB'
      },
      {
        localBillingCode: '01.01.04.02.00.00',
        simbBillingCode: '1.1.4(2)',
        payorBillingCode: '1.1.4(2)',
        billingInitial: '6750',
        billingDiscount: '675',
        billingNetAmount: '6075',
        localBillingName: '1.1.4(2) ค่าตรวจชิ้นเนื้อ'
      },
      {
        localBillingCode: '01.01.05.01.00.00',
        simbBillingCode: '1.1.5(1)',
        payorBillingCode: '1.1.5(1)',
        billingInitial: '410',
        billingDiscount: '41',
        billingNetAmount: '369',
        localBillingName: '1.1.5(1) ค่าเอกซเรย์'
      },
      {
        localBillingCode: '01.01.05.02.03.00',
        simbBillingCode: '1.1.5(2.3)',
        payorBillingCode: '1.1.5(2.3)',
        billingInitial: '3960',
        billingDiscount: '396',
        billingNetAmount: '3564',
        localBillingName: '1.1.5(2.3) อัลตราซาวน์'
      },
      {
        localBillingCode: '01.01.06.03.00.00',
        simbBillingCode: '1.1.6',
        payorBillingCode: '1.1.6',
        billingInitial: '5200',
        billingDiscount: '0',
        billingNetAmount: '5200',
        localBillingName: '1.1.6 ส่องกล้องตรวจภายใน Colonoscopy'
      },
      {
        localBillingCode: '01.01.06.04.00.00',
        simbBillingCode: '1.1.6',
        payorBillingCode: '1.1.6',
        billingInitial: '4600',
        billingDiscount: '0',
        billingNetAmount: '4600',
        localBillingName: '1.1.6 ส่องกล้องตรวจภายใน Gastroscope'
      },
      {
        localBillingCode: '01.01.07.30.00.00',
        simbBillingCode: '1.1.7',
        payorBillingCode: '1.1.7',
        billingInitial: '1300',
        billingDiscount: '0',
        billingNetAmount: '1300',
        localBillingName: '1.1.7 ค่าวัสดุทางการแพทย์พิเศษ-Scope'
      },
      {
        localBillingCode: '01.01.08.02.00.00',
        simbBillingCode: '1.1.8',
        payorBillingCode: '1.1.8',
        billingInitial: '2000',
        billingDiscount: '0',
        billingNetAmount: '2000',
        localBillingName: '1.1.8 ค่าห้อง Scope'
      },
      {
        localBillingCode: '01.01.12.00.00.00',
        simbBillingCode: '1.1.12',
        payorBillingCode: '1.1.12',
        billingInitial: '50',
        billingDiscount: '0',
        billingNetAmount: '50',
        localBillingName: '1.1.12 ค่าบริการทางการพยาบาล'
      },
      {
        localBillingCode: '01.01.14.02.01.00',
        simbBillingCode: '1.1.14(2)',
        payorBillingCode: '1.1.14(2)',
        billingInitial: '250',
        billingDiscount: '0',
        billingNetAmount: '250',
        localBillingName: '1.1.14(2) ค่าบริการโรงพยาบาลของผู้ป่วยนอก'
      },
      {
        localBillingCode: '01.02.01.05.00.00',
        simbBillingCode: '1.2.1(5)',
        payorBillingCode: '1.2.1(5)',
        billingInitial: '600',
        billingDiscount: '0',
        billingNetAmount: '600',
        localBillingName: '1.2.1(5) ค่ารักษาทั่วไปของแพทย์'
      },
      {
        localBillingCode: '01.02.01.11.00.00',
        simbBillingCode: '1.2.1(11)',
        payorBillingCode: '1.2.1(11)',
        billingInitial: '1660',
        billingDiscount: '0',
        billingNetAmount: '1660',
        localBillingName: '1.2.1(11) ค่าแพทย์อ่านผลเอกซเรย์'
      },
      {
        localBillingCode: '01.02.02.00.00.00',
        simbBillingCode: '1.2.2',
        payorBillingCode: '1.2.2',
        billingInitial: '21000',
        billingDiscount: '0',
        billingNetAmount: '21000',
        localBillingName: '1.2.2 ค่าทำศัลยกรรมและหัตถการต่าง ๆ'
      }
    ])
    const totalBillAmount = ref('2000')
    return {
      bl,
      billing,
      totalBillAmount,
      columnsBilling
    }
  }
}
</script>
<style>

</style>
