<template>
  <q-page class="my-font">
    <q-header elevated>
      <q-toolbar>
        <q-toolbar-title v-if="pageFrom === 'adm'">รับตัวเข้ารักษา / รายละเอียดการส่งเคลม</q-toolbar-title>
        <q-toolbar-title v-if="pageFrom === 'dc'">พิจารณาสินไหม / รายละเอียดการส่งเคลม</q-toolbar-title>
        <q-toolbar-title v-if="pageFrom === 'pa'">พิจารณาเคลมก่อนทำการผ่าตัด / รายละเอียดการส่งเคลม</q-toolbar-title>
        <q-toolbar-title v-if="pageFrom === undefined">ตรวจสอบสิทธิ์ / รายละเอียดการส่งเคลม</q-toolbar-title>
      </q-toolbar>
    </q-header>
    <q-card flat>
      <RegisterRequest :type="pageFrom" :id="claimID" />
      <q-card-section>
        <div class="row q-col-gutter-md">
          <div class="col-12">
            <q-btn class="full-width" color="primary">Submit</q-btn>
          </div>
          <div class="col-12">
            <q-uploader
              url="http://localhost:4444/upload"
              label="แนบเอกสาร"
              multiple
              accept=".jpg, .pdf, image/*"
              class="full-width"
              @rejected="onRejected"
            />
          </div>
        </div>
      </q-card-section>
      <q-card-section>
        <RegisterDetail :type="pageFrom" :id="claimID" />
      </q-card-section>
      <!-- <q-card-section>
        <q-tabs
          v-model="tab"
          dense
          outside-arrows
          mobile-arrows
          align="justify"
          indicator-color="primary"
          active-color="black"
          class="text-grey shadow-2"
        >
          <q-tab label="ประวัติการรักษา และการตรวจร่างกาย" name="two" />
          <q-tab label="ค่ารักษาพยาบาล" name="three" />
        </q-tabs>
      </q-card-section> -->
      <!-- <q-tab-panels
        v-model="tab"
        animated
        swipeable
        transition-prev="jump-up"
        transition-next="jump-up"
      >
        <q-tab-panel name="two">
          <RegisterDetail :type="pageFrom" :id="claimID" />
        </q-tab-panel>
        <q-tab-panel name="three">
          <RegisterExpense :type="pageFrom" :id="claimID" />
        </q-tab-panel>
      </q-tab-panels> -->
    </q-card>
  </q-page>
</template>

<script>
import { ref } from 'vue'
import { useRoute } from 'vue-router'
import { api } from 'boot/axios'
import { useQuasar } from 'quasar'
import RegisterRequest from './RegisterRequest.vue'
import RegisterDetail from './RegisterDetail.vue'

export default {
  components: {
    RegisterRequest,
    RegisterDetail
  },
  setup () {
    const $q = useQuasar()
    const route = useRoute()
    const claimID = route.params.id
    const pageFrom = route.params.type
    const eSign = ref({
      ClaimDetailID: 0,
      RefID: '',
      E_Signature: '',
      InsuranceGroup: ''
    })
    const requestDetail = ref({
      requestType: '',
      dateReceive: '',
      preAuthorizeRefNo: '',
      refNo: '',
      policyNo: '',
      certificateNo: '',
      customerID: '',
      idPassport: '',
      name: '',
      claimName: '',
      relate: '',
      birthDate: '',
      age: '',
      gender: '',
      policyHolderName: '',
      hn: '',
      an: ''
    })
    const allDiagnosis = ref([])
    const treatmentProviders = ref([])
    const otherFactor = ref({
      no: ref(false),
      other: ref(false),
      otherNote: ref(''),
      factors: ref([])
    })
    const vitalSigns = ref({
      temp: '',
      pulse: '',
      systolic: '',
      diastolic: '',
      rr: '',
      painScore: '',
      comaScore: '',
      weight: '',
      height: '',
      bmi: ''
    })

    function createClaim () {
      api.post('http://192.168.100.152:94/api/AIA_Insurance/NewClaimRequest', {
        claim_ICD10s: allDiagnosis,
        claim_TreatmentMembers: treatmentProviders,
        claim_VitalsSign: vitalSigns,
        claim_ExternalFactors: otherFactor,
        electronic_Signature: eSign
      }).then(response => {
        console.log(response.data)
      })
    }
    function onRejected (rejectedEntries) {
      // Notify plugin needs to be installed
      // https://quasar.dev/quasar-plugins/notify#Installation
      $q.notify({
        type: 'negative',
        message: `${rejectedEntries.length} file(s) did not pass validation constraints`
      })
    }

    return {
      onRejected,
      allDiagnosis,
      treatmentProviders,
      vitalSigns,
      otherFactor,
      eSign,
      claimID,
      pageFrom,
      tab: ref('two'),
      createClaim,
      requestDetail
    }
  }
}
</script>

<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 250px
</style>
