<template>
  <q-card-section>
    <div class="row q-col-gutter-md">
      <div class="col-6 col-md-3">
        <q-input
          outlined
          label="จากวันที่ วว/ดด/ค.ศ."
          v-model="params.dateFrom"
          dense
          mask="##/##/####"
          clearable
          @keyup.enter="sendParams"
        >
          <template v-slot:prepend>
            <q-icon name="event" />
          </template>
        </q-input>
      </div>
      <div class="col-6 col-md-3">
        <q-input
          outlined
          label="ถึงวันที่ วว/ดด/ค.ศ."
          v-model="params.dateTo"
          dense
          mask="##/##/####"
          clearable
          @keyup.enter="sendParams"
        >
          <template v-slot:prepend>
            <q-icon name="event" />
          </template>
        </q-input>
      </div>
      <div class="col-12 col-md-3">
        <q-input outlined v-model="params.hn" label="เลขบัตร ปชช" dense maxlength="13" clearable @keyup.enter="sendParams"/>
      </div>
      <div class="col-12 col-md-3">
        <q-btn class="full-width" label="แสดงรายชื่อ" type="submit" color="primary" @click="sendParams"/>
      </div>
    </div>
  </q-card-section>
</template>

<script>
import { ref } from 'vue'

export default {
  emits: ['searchParam'],
  name: '<AdditionalSearch>',
  setup (props, ctx) {
    const params = ref({
      dateFrom: '',
      dateTo: '',
      hn: ''
    })

    function dateApi (date) {
      if (date !== '' && date.length >= 10) {
        const dateArr = date.substring(0, 10).split('/')
        const [yyyy, mm, dd] = dateArr
        return `${yyyy}-${mm}-${dd}`
      }
    }
    function sendParams () {
      if (params.value.hn) {
        params.value.hn = params.value.hn.padStart(7, '0')
      } else if (params.value.hn === null) {
        params.value.hn = ''
      }

      if (params.value.dateFrom) {
        params.value.dateFrom = dateApi(params.value.dateFrom)
      }
      if (params.value.dateTo) {
        params.value.dateTo = dateApi(params.value.dateTo)
      }
      ctx.emit('searchParam', params)
    }
    return {
      sendParams,
      params
    }
  }
}
</script>

<style lang="sass" scoped>
.my-custom-toggle
  border: 1px solid #027be3
</style>
