// app global css in SCSS form

@font-face {
  font-family: Bold;
  src: url(./fonts/LINESeedSansTH_W_Bd.woff);
}
@font-face {
  font-family: Heavy;
  src: url(./fonts/LINESeedSansTH_W_He.woff);
}
@font-face {
  font-family: Regular;
  src: url(./fonts/LINESeedSansTH_W_Rg.woff);
}
@font-face {
  font-family: Thin;
  src: url(./fonts/LINESeedSansTH_W_Th.woff);
}
@font-face {
  font-family: ExtraBold;
  src: url(./fonts/LINESeedSansTH_W_Rg.woff);
}

// declare a class which applies it
.my-font-bd {
  font-family: 'Bold';
}
.my-font-he {
  font-family: 'Heavy';
}
.my-font {
  font-family: 'Regular';
}
.my-font-th {
  font-family: 'Thin';
}
.my-font-xbd {
  font-family: 'ExtraBold';
}
