<template>
  <q-layout view="lHh Lpr lFf">
    <q-header v-if="isDark === false" elevated bordered class="bg-white text-primary">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu_open"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title class="my-font-bd">
          Sriphat Claim
        </q-toolbar-title>
      </q-toolbar>
    </q-header>
    <q-header v-else elevated bordered class="bg-dark text-primary">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu_open"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title class="my-font-bd">
          Sriphat Claim
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-drawer
      show-if-above
      v-model="leftDrawerOpen"
      side="left"
      bordered
      class="my-font"
    >
      <q-list bordered padding class="rounded-borders">
        <q-item-label header>
          <q-item-section>
            <q-item-label class="my-font-bd" overline>{{ getMe.emCode }}</q-item-label>
            <q-item-label>{{ getMe.name }}</q-item-label>
            <q-item-label caption>{{ getMe.groupDec }}</q-item-label>
          </q-item-section>
        </q-item-label>
        <q-separator spaced />
        <MainMenu
          v-for="menu in menus"
          :key="menu.title"
          v-bind="menu"
          :active="selected === menu.title"
          @click="selected = menu.title"
          active-class="my-menu-link"
        />
        <q-separator spaced />
        <q-item tag="label" v-ripple @click="changeMode">
          <q-item-section
            avatar
          >
            <q-icon :name="isDark ? 'light_mode' : 'dark_mode'" />
          </q-item-section>
          <q-item-section >
            <q-item-label v-if="isDark">โหมดปกติ</q-item-label>
            <q-item-label v-else>โหมดมืด</q-item-label>
          </q-item-section>
        </q-item>
        <q-item
          clickable
          @click="logout"
        >
          <q-item-section
            avatar
          >
            <q-icon name="logout" />
          </q-item-section>

          <q-item-section>
            <q-item-label>ออกจากระบบ</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view/>
    </q-page-container>

  </q-layout>
</template>

<script>
import MainMenu from 'components/MainMenu.vue'
// import AuthenticateDialog from 'src/pages/claim/AuthenticateDialog.vue'

const menuList = [
  {
    title: 'ตรวจสอบสิทธิ์',
    subtitle: 'Authentication',
    icon: 'search',
    link: '/authenticate'
  },
  {
    title: 'พิจารณาเคลมก่อนทำการผ่าตัด',
    subtitle: 'Pre Authorization',
    icon: 'person_search',
    link: '/pre-authorize'
  },
  {
    title: 'รับตัวเข้ารักษา',
    subtitle: 'Admission',
    icon: 'schedule',
    link: '/admission'
  },
  {
    title: 'พิจารณาสินไหม',
    subtitle: 'Dischage',
    icon: 'transfer_within_a_station',
    link: '/dischargeList'
  },
  {
    title: 'สถานะการพิจารณาสินไหม',
    subtitle: 'Claim Status',
    icon: 'check_circle_outline',
    link: '/claim-status'
  }
]

import { defineComponent, ref } from 'vue'
import { mapGetters } from 'vuex'

export default defineComponent({
  name: 'MainLayout',
  setup () {
    const leftDrawerOpen = ref(false)
    return {
      layout: ref(false),
      leftDrawerOpen,
      toggleLeftDrawer () {
        leftDrawerOpen.value = !leftDrawerOpen.value
      }
    }
  },
  components: {
    MainMenu
    // AuthenticateDialog
  },

  data () {
    return {
      menus: menuList,
      selected: '',
      isDark: false
    }
  },
  methods: {
    logout () {
      this.$store.dispatch('auth/signOut')
      this.$router.push('/login')
    },
    changeMode () {
      this.isDark = !this.isDark
      this.$q.dark.set(this.isDark)
    }
  },
  computed: {
    ...mapGetters('auth', ['isAuthenticated']),
    ...mapGetters('auth', ['getMe'])
  }
  // background: #1976D2
})
</script>

<style lang="sass">
.my-menu-link
  color: white
  background: $primary
</style>
