<template>
  <div class="flex justify-center my-font">
    <h5>ยินดีต้อนรับ <span>{{ getMe.name }}</span></h5>

  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Index',
  computed: {
    ...mapGetters('auth', ['getMe'])
  }
}
</script>

<style scoped>

</style>
